---
const { ...info } = Astro.props;
---

<section
  id="deportes"
  class="my-20 flex flex-col w-full mx-auto space-y-12 text-[#f0f3ff] text-opacity-90"
>
  <!-- Servicios -->
  <div class="space-y-10">
    <h2
      class="text-center text-2xl text-balance tracking-tight sm:text-4xl font-bold uppercase"
    >
      SERVICIOS QUE NOS OFRECE {info.name}
    </h2>
    <div
      class="flex flex-row flex-wrap sm:flex-nowrap w-full gap-10 mx-auto text-[#f0f3ff] text-opacity-90"
    >
      <!-- E-Sports -->
      <div
        class="flex flex-wrap w-full sm:w-1/2 h-auto py-10 px-5 border rounded-xl border-t-2 border-slate-800 bg-gradient-to-t from-black/60 to-slate-950 focus:outline-none focus:border-[#f0f3ff]"
      >
        <div class="flex flex-col justify-center items-center mx-auto">
          <img
            src="/sports/esports.svg"
            alt="Icono de Sports"
            width="56"
            height="56"
            loading="lazy"
          />
          <h3
            class="inline-flex mx-auto text-center tracking-tight text-xl sm:text-2xl font-semibold mb-2"
          >
            Esports
          </h3>
          <p class="text-pretty text-center tracking-tight">
            100 eventos en más de 10 disciplinas de esports
          </p>
        </div>
      </div>

      <!-- Sports -->
      <div
        class="flex flex-wrap w-full sm:w-1/2 h-auto py-10 px-5 border rounded-xl border-t-2 border-slate-800 bg-gradient-to-t from-black/60 to-slate-950 focus:outline-none focus:border-[#f0f3ff]"
      >
        <div class="flex flex-col justify-center items-center mx-auto">
          <img
            src="/sports/sports.svg"
            alt="Icono de Sports"
            width="56"
            height="56"
            loading="lazy"
          />
          <h3
            class="inline-flex mx-auto text-center tracking-tight text-xl sm:text-2xl font-semibold mb-2"
          >
            Deportes
          </h3>
          <p class="text-pretty text-center tracking-tight">
            Más de 30 deportes y más de 3,000 eventos diarios
          </p>
        </div>
      </div>

      <!-- Casino -->
      <div
        class="flex flex-wrap w-full sm:w-1/2 h-auto py-10 px-5 border rounded-xl border-t-2 border-slate-800 bg-gradient-to-t from-black/60 to-slate-950 focus:outline-none focus:border-[#f0f3ff]"
      >
        <div class="flex flex-col justify-center items-center mx-auto">
          <img
            src="/sports/casino.svg"
            alt="Icono de Sports"
            width="56"
            height="56"
            loading="lazy"
          />
          <h3
            class="inline-flex mx-auto text-center tracking-tight text-xl sm:text-2xl font-semibold mb-2"
          >
            Casino
          </h3>
          <p class="text-pretty text-center tracking-tight">
            Más de 1,000 juegos de casino disponibles
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Mejores Deportes -->
  <div class="flex flex-col w-full mx-auto space-y-10">
    <h2
      class="text-center text-2xl text-balance tracking-tight uppercase sm:text-4xl font-bold"
    >
      DEPORTES MÁS APOSTADOS EN {info.name}
    </h2>
    <div
      class="flex flex-wrap sm:flex-nowrap w-full justify-center items-center sm:divide-x-2 mx-auto h-auto space-y-5 sm:space-y-0 py-10 px-5 border gap-5 rounded-xl border-t-2 border-slate-800 bg-gradient-to-t from-black/60 to-slate-950 focus:outline-none focus:border-[#f0f3ff]"
    >
      <div
        class="flex flex-col w-1/2 sm:w-full justify-center items-center sm:pl-5 text-balance space-y-3"
      >
        <img
          src="/sports/futbol.svg"
          alt="Icono de Fútbol"
          width="56"
          height="56"
          loading="lazy"
        />
        <h3 class="text-center">Fútbol</h3>
      </div>
      <div
        class="flex flex-col w-1/2 sm:w-full justify-center items-center sm:pl-5 text-balance space-y-3"
      >
        <img
          src="/sports/basketball.svg"
          alt="Icono de Baloncesto"
          width="56"
          height="56"
          loading="lazy"
        />
        <h3 class="text-center">Baloncesto</h3>
      </div>
      <div
        class="flex flex-col grow w-1/3 sm:w-full justify-center items-center sm:pl-5 text-pretty space-y-3"
      >
        <img
          src="/sports/tennis.svg"
          alt="Icono de Tenis"
          width="56"
          height="56"
          loading="lazy"
        />
        <h3 class="text-center">Tenis</h3>
      </div>
      <div
        class="flex flex-col grow w-1/3 sm:w-full justify-center items-center sm:pl-5 text-pretty space-y-3"
      >
        <img
          src="/sports/americanfootball.svg"
          alt="Icono de Fútbol Americano"
          width="56"
          height="56"
          loading="lazy"
        />
        <h3 class="text-center">Fútbol Americano</h3>
      </div>
    </div>
  </div>

  <!-- Cuotas o momios -->
  <div class="space-y-10">
    <div class="w-full flex flex-col justify-start items-start text-start">
      <div class="space-y-3">
        <p class="tracking-tight text-pretty">
          <strong>{info.name}</strong> te da la oportunidad de apostar en una amplia
          gama de deportes, desde los más populares hasta los más exóticos. Sin embargo,
          hay algunos deportes que se destacan por la cantidad de apuestas que reciben.
        </p>
        <p class="tracking-tight text-pretty">
          El fútbol es, sin duda, el rey de las apuestas en Fezbet. Los
          principales campeonatos europeos, como la Liga Española, la Premier
          League, la Bundesliga y la Serie A, son los que más atención generan.
        </p>
        <p class="tracking-tight text-pretty">
          El baloncesto también goza de gran popularidad. La NBA, la Euroliga y
          las principales ligas europeas son las más elegidas por los
          apostadores.
        </p>
        <p class="tracking-tight text-pretty">
          El tenis es otro deporte con una gran cantidad de seguidores. Los
          torneos de Grand Slam, como el Abierto de Australia, Roland Garros,
          Wimbledon y el US Open, son eventos que atraen a miles de apostadores.
        </p>
        <p class="tracking-tight text-pretty">
          Los deportes americanos, como el fútbol americano, el béisbol y el
          hockey sobre hielo, también tienen un gran número de aficionados en
          Fezbet. La NFL, la MLB y la NHL son las ligas más populares en este
          ámbito.
        </p>
      </div>
    </div>

    <!-- Cuotas o momios -->
    <div class="space-y-10">
      <div class="flex flex-col w-full mx-auto">
        <h3 class="font-semibold text-balance tracking-tight uppercase text-lg">
          CUOTAS O MOMIOS EN {info.name}
        </h3>
        <div class="space-y-2">
          <p class="text-pretty tracking-tight">
            Actualmente, <strong>{info.name}</strong> ofrece 3 formatos de cuotas:
          </p>
          <ul class="list-disc list-inside tracking-tight">
            <li>Decimal</li>
            <li>Fraccional</li>
            <li>Americano</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
