---
import StarRating from "../../../components/icons/StarRating.astro";
import { CountUp } from "../../../components/reviews/CountUp";
import Check from "../../icons/Check.astro";
import Equis from "../../icons/Equis.astro";

const { ...info } = Astro.props;
---

<>
  <!-- Stadistics -->
  <section
    id="detalle"
    class="my-20 flex flex-col w-full mx-auto space-y-12 text-[#f0f3ff] text-opacity-90"
  >

    <picture class="flex flex-row item-center justify-center">
      <img src="/operators/nobg/fezbet.svg" 
      width="130" 
      height="50"
      decoding="async" 
      loading="eager"
      alt={`Logo de la casa de apuestas ${info.name}`}
      title={`Logo de la casa de apuestas ${info.name}`}
      class="rounded-lg w-72 md:w-96 h-auto my-10" />
    </picture>

    <div
      class="flex flex-wrap sm:flex-nowrap w-full justify-center items-center sm:divide-x-2 h-auto space-y-5 sm:space-y-0 py-10 px-2 border gap-1 rounded-xl border-t-2 border-slate-800 bg-gradient-to-t from-black/60 to-slate-950 focus:outline-none focus:border-[#f0f3ff]"
    >
      <div class="flex flex-col grow w-full items-center text-balance space-y-3">
        <CountUp client:visible initial={0} final={3000}/>
        <p class="text-lg sm:text-xl text-center tracking-tight">
          Eventos diarios
        </p>
      </div>
      <div
        class="flex flex-col grow w-1/4 sm:w-full justify-center items-center pl-5 text-balance space-y-3"
      >
        <CountUp client:visible initial={0} final={3} showPlusSign={false} />
        <p class="text-lg sm:text-xl text-center tracking-tight">
          Formatos de cuotas
        </p>
      </div>
      <div
        class="flex flex-col grow w-1/4 sm:w-full justify-center items-center pl-5 text-balance space-y-3"
      >
      <CountUp client:visible initial={0} final={30} />
      <p class="text-lg sm:text-xl text-center tracking-tight">
        Diferentes deportes
      </p>
      </div>
      <div
        class="flex flex-col grow w-1/4 sm:w-full justify-center items-center pl-0 sm:pl-5 text-balance space-y-3"
      >
        <CountUp client:visible initial={0} final={20} />
        <p class="text-lg sm:text-xl text-center tracking-tight">
          Métodos de pago
        </p>
      </div>
    </div>

    <!-- Apps -->
    <div class="flex flex-row justify-center items-center flex-wrap">
      {
        info.apps.map(
          (app: {
            android: string | null | undefined;
            ios: string | null | undefined;
            webapp: string | null | undefined;
            nameandroid: string | null | undefined;
            nameios: string | null | undefined;
            nameweb: string | null | undefined;
          }) => (
            <div class="flex flex-row justify-start items-center gap-2">
              {app.android && (
                <img src={app.android} alt="Android" title="Android" width="16" height="16" decoding="async" loading="eager" />
                <p>{app.nameandroid}</p>
              )}
              {app.ios && (
                <img src={app.ios} alt="iOS" title="iOS" width="16" height="16" decoding="async" loading="eager" />
                <p>{app.nameios}</p>
              )}
              {app.webapp && (
                <img src={app.webapp} alt="WebApp" title="WebApp" width="16" height="16" decoding="async" loading="eager" />
                <p>{app.nameweb}</p>
              )}
            </div>
          )
        )
      }
    </div>

    <!-- Why choose this Operator? -->
    <section
      class="my-14 flex flex-col w-full space-y-3"
    >
      <div class="flex flex-wrap justify-start items-end w-full gap-2">
        <h2
          class="uppercase text-xl text-balance tracking-tight font-bold"
        >
          ¿Por qué elegir {info.name}?
        </h2>
        <div class="flex flex-row justify-center items-end">
          <StarRating w={"22"} h={"26"} />
          <p class="text-end">{info.rating}</p>
        </div>
      </div>
      <p class="text-pretty tracking-tight">
        <strong>{info.name}</strong> irrumpió en el panorama del juego en línea en 2020 con una propuesta ambiciosa: fusionar una sección completa de apuestas deportivas con un extenso catálogo de juegos de casino. Este operador, con licencia de Curazao, ha logrado consolidarse como una opción sumamente atractiva para jugadores en toda América Latina.
      </p>
      <p class="text-pretty tracking-tight">
        Las distintivas cualidades de este operador destacan de manera convincente. En primer lugar, su amplia gama de opciones deportivas resulta impresionante, abarcando disciplinas que van desde el fútbol hasta el tenis, pasando por el baloncesto y los deportes de motor. <strong>{info.name}</strong> ofrece una variedad que satisface los gustos de todos los apostadores. Además, su interfaz intuitiva facilita la navegación y la localización de eventos específicos.
      </p>
      <p class="text-pretty tracking-tight">
        <strong>{info.name}</strong> se erige como una casa de apuestas completa y confiable que brinda una experiencia de juego de alta calidad. Su extenso repertorio de apuestas deportivas, juegos de casino, bonificaciones y promociones la posicionan como una excelente opción para jugadores exigentes en busca de una plataforma segura y con un servicio al cliente de calidad. Indudablemente, este operador figura en nuestro listado de casas de apuestas altamente recomendadas.
      </p>
      <p class="text-pretty tracking-tight">
        A pesar de la ausencia de aplicaciones móviles, el diseño de su plataforma web compensa esta carencia de manera notable.
      </p>
    </section>

    <!-- Advantage and Disadvantages -->
    <section
      class="my-14 flex flex-row flex-wrap sm:flex-nowrap w-full mx-auto gap-10"
    >
      <div
        class="flex flex-wrap flex-col w-full sm:w-1/2 h-auto py-10 px-5 border rounded-xl border-t-2 border-slate-800 bg-gradient-to-t from-black/60 to-slate-950 focus:outline-none focus:border-[#f0f3ff]"
      >
        <h3
          class="inline-flex mx-auto text-center text-balance tracking-tight text-2xl font-semibold mb-2"
        >
          Ventajas de {info.name}
        </h3>
        <div>
          <ul
            class="list-inside tracking-tight text-pretty space-y-2"
          >
            <li class="flex flex-row gap-2"><Check /> Momios competitivos</li>
            <li class="flex flex-row gap-2"><Check /> Interfaz de usuario fácil de usar</li>
            <li class="flex flex-row gap-2"><Check /> Variedad de métodos de pagos</li>
            <li class="flex flex-row gap-2"><Check /> Atención al cliente 24/7</li>
            <li class="flex flex-row gap-2"><Check /> Retiros y depósitos rápidos</li>
            <li class="flex flex-row gap-2"><Check /> Bonos y promociones atractivos</li>
          </ul>
        </div>
      </div>
      <div
        class="flex flex-wrap flex-col w-full sm:w-1/2 h-auto py-10 px-5 border rounded-xl border-t-2 border-slate-800 bg-gradient-to-t from-black/60 to-slate-950 focus:outline-none focus:border-[#f0f3ff]"
      >
        <h3
          class="inline-flex mx-auto text-center text-balance tracking-tight text-2xl font-semibold mb-2"
        >
          Desventajas de {info.name}
        </h3>
        <div>
          <ul
            class="list-inside tracking-tight text-pretty space-y-2"
          >
          <li class="flex flex-row gap-2"><Equis />No cuentan con aplicaciones móviles</li>
        </ul>
        </div>
      </div>
    </section>
  </section>
</>
