---
const { ...info } = Astro.props;
---

<>
  <!-- ¡Aumenta tus ganancias! -->
  <section
    id="promociones"
    class="my-20 flex flex-col w-full mx-auto space-y-5 text-[#f0f3ff] text-opacity-90"
  >
    <h2
      class="text-center text-2xl text-pretty tracking-tight uppercase sm:text-4xl font-bold text-[#f0f3ff] text-opacity-90 mb-3"
    >
      ¿CÓMO AUMENTAR TUS GANANCIAS EN {info.name}?
    </h2>
    <article class="flex flex-row flex-wrap sm:flex-nowrap w-full gap-10">
      <div
        class="relative overflow-hidden w-full sm:w-1/2 h-auto rounded-xl border border-slate-800 p-[1px] backdrop-blur-3xl"
      >
        <span
          class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#E2CBFF_0%,#393BB2_50%,#E2CBFF_100%)]"
        ></span>
        <div
          class="inline-flex h-full w-full items-center justify-center rounded-xl bg-slate-950 py-5 px-5 text-sm font-medium backdrop-blur-3xl"
        >
          <div
            class="flex flex-col justify-center items-center mx-auto p-4 space-y-3"
          >
            <h3
              class="inline-flex underline text-balance underline-offset-8 text-center tracking-tight text-xl font-semibold"
            >
              Código Promocional
            </h3>
            <p class="text-pretty text-center p-2 tracking-tight">
              Por el momento, <strong>{info.name}</strong> no ofrece código promocional
            </p>
          </div>
        </div>
      </div>
      <div
        class="relative overflow-hidden w-full sm:w-1/2 h-auto rounded-xl border border-slate-800 p-[1px] backdrop-blur-3xl"
      >
        <span
          class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#E2CBFF_0%,#393BB2_50%,#E2CBFF_100%)]"
        ></span>
        <div
          class="inline-flex h-full w-full items-center justify-center rounded-xl bg-slate-950 py-10 px-5 text-sm font-medium backdrop-blur-3xl"
        >
          <div
            class="flex flex-col justify-center items-center mx-auto p-4 space-y-3"
          >
            <h3
              class="inline-flex text-balance underline underline-offset-8 text-center tracking-tight text-xl font-semibold"
            >
              Bono de Bienvenida
            </h3>
            <p class="text-pretty text-center tracking-tight">
              ¡<a
                href={info.urlregistro}
                target="_blank"
                rel="external noopener noreferrer nofollow"
                class="underline hover:text-gray-400">Regístrese ahora</a
              > y reciba un {info.bonotxt}!
            </p>
            <p class="text-pretty text-center tracking-tight">
              Puede estar sujeta a cambios. Revisa los términos y condiciones.
            </p>
          </div>
        </div>
      </div>
    </article>
    <div class="w-full flex flex-col justify-start items-start text-start">
      <div class="space-y-3 mt-5">
        <p class="text-pretty tracking-tight">
          Como mencionamos anteriormente, <strong>{info.name}</strong> se distingue
          no solo por su extenso catálogo de apuestas deportivas y juegos de casino,
          sino también por sus irresistibles promociones diseñadas tanto para jugadores
          recién llegados como para aquellos que ya forman parte de la comunidad.
          Esta casa de apuestas ha captado la atención de la comunidad de apostadores
          gracias a su generosidad sin límites al recompensar a sus usuarios. Ya
          seas un principiante o un experto en las apuestas, las promociones de <strong
            >{info.name}</strong
          > no solo mantendrán tu entusiasmo, sino que también te motivarán a seguir
          disfrutando de la experiencia de juego.
        </p>
      </div>
    </div>

    <h3 class="font-semibold text-balance tracking-tight text-lg">
      Vamos a resaltar algunas de las ofertas más tentadoras que <strong
        >{info.name}</strong
      > tiene para ti:
    </h3>

    <article class="flex flex-col w-full mx-auto">
      <h3 class="font-semibold text-balance tracking-tight text-lg">
        BONO POR PRIMER DEPÓSITO
      </h3>
      <div class="space-y-2">
        <p class="text-pretty tracking-tight">
          <a
            href={info.urlregistro}
            target="_blank"
            rel="external noopener noreferrer nofollow"
            class="underline hover:text-gray-400">Regístrese ahora</a
          >
          y aprovecha el bono de primer depósito, que otorga un generoso 100% de
          bonificación hasta un límite de 100 USD. No pierda la oportunidad de aprovechar
          esta destacada promoción que <strong>{info.name}</strong> pone a su disposición.
        </p>
      </div>
    </article>

    <article>
      <h3 class="font-semibold text-balance tracking-tight text-lg">
        BORE DRAW
      </h3>
      <div class="space-y-2">
        <p class="text-pretty tracking-tight">
          Obtenga un reembolso del 100% en efectivo en cualquier partido de
          fútbol que concluya con el marcador 0-0.
        </p>
      </div>
    </article>

    <article>
      <h3 class="font-semibold text-balance tracking-tight text-lg">
        BONO DE RECARGA SEMANAL
      </h3>
      <div class="space-y-2">
        <p class="text-pretty tracking-tight">
          Aprovecha al máximo tu experiencia de apuestas deportivas con el
          exclusivo bono de recarga semanal. Obtén un 50% adicional hasta 500
          USD. No dejes pasar esta emocionante oportunidad para potenciar tus
          apuestas deportivas como nunca antes.
        </p>
      </div>
    </article>

    <article>
      <h3 class="font-semibold text-balance tracking-tight text-lg">
        SEGURO DE CREADOR DE APUESTAS
      </h3>
      <div class="space-y-2">
        <p class="text-pretty tracking-tight">
          Apuesta gratis de 20 USD si una selección en su creador de apuestas lo
          decepciona.
        </p>
      </div>
    </article>

    <p class="text-pretty tracking-tight">
      Leer más acerca de las
      <a
        href={info.urlpromo}
        target="_blank"
        rel="external noopener noreferrer nofollow"
        class="underline hover:text-gray-400"
        aria-label="Ir a la pagina de promociones"
        >promociones de <strong>{info.name}</strong>
      </a>
    </p>
  </section>
</>
