---
import StarRating from "../../../components/icons/StarRating.astro";
import { CountUp } from "../../../components/reviews/CountUp";
import Check from "../../icons/Check.astro";
import Equis from "../../icons/Equis.astro";

const { ...info } = Astro.props;
---

<>
  <!-- Stadistics -->
  <section
    id="detalle"
    class="my-20 flex flex-col w-full mx-auto space-y-12 text-[#f0f3ff] text-opacity-90"
  >

    <picture class="flex flex-row item-center justify-center">
      <img src="/operators/nobg/rabona.svg" 
      width="130" 
      height="50"
      decoding="async" 
      loading="eager"
      alt={`Logo de la casa de apuestas ${info.name}`}
      title={`Logo de la casa de apuestas ${info.name}`}
      class="rounded-lg w-72 md:w-96 h-auto my-10" />
    </picture>

    <div
      class="flex flex-wrap sm:flex-nowrap w-full justify-center items-center sm:divide-x-2 h-auto space-y-5 sm:space-y-0 py-10 px-2 border gap-1 rounded-xl border-t-2 border-slate-800 bg-gradient-to-t from-black/60 to-slate-950 focus:outline-none focus:border-[#f0f3ff]"
    >
      <div class="flex flex-col grow w-full items-center text-balance space-y-3">
        <CountUp client:visible initial={0} final={6000}/>
        <p class="text-lg sm:text-xl text-center tracking-tight">
          Eventos diarios
        </p>
      </div>
      <div
        class="flex flex-col grow w-1/4 sm:w-full justify-center items-center pl-5 text-balance space-y-3"
      >
        <CountUp client:visible initial={0} final={3} showPlusSign={false} />
        <p class="text-lg sm:text-xl text-center tracking-tight">
          Formatos de cuotas
        </p>
      </div>
      <div
        class="flex flex-col grow w-1/4 sm:w-full justify-center items-center pl-5 text-balance space-y-3"
      >
      <CountUp client:visible initial={0} final={35} />
      <p class="text-lg sm:text-xl text-center tracking-tight">
        Diferentes deportes
      </p>
      </div>
      <div
        class="flex flex-col grow w-1/4 sm:w-full justify-center items-center pl-0 sm:pl-5 text-balance space-y-3"
      >
        <CountUp client:visible initial={0} final={20} />
        <p class="text-lg sm:text-xl text-center tracking-tight">
          Métodos de pago
        </p>
      </div>
    </div>

    <!-- Apps -->
    <div class="flex flex-row justify-center items-center flex-wrap">
      {
        info.apps.map(
          (app: {
            android: string | null | undefined;
            ios: string | null | undefined;
            webapp: string | null | undefined;
            nameandroid: string | null | undefined;
            nameios: string | null | undefined;
            nameweb: string | null | undefined;
          }) => (
            <div class="flex flex-row justify-start items-center gap-2">
              {app.android && (
                <img src={app.android} alt="Android" title="Android" width="16" height="16" decoding="async" loading="eager" />
                <p>{app.nameandroid}</p>
              )}
              {app.ios && (
                <img src={app.ios} alt="iOS" title="iOS" width="16" height="16" decoding="async" loading="eager" />
                <p>{app.nameios}</p>
              )}
              {app.webapp && (
                <img src={app.webapp} alt="WebApp" title="WebApp" width="16" height="16" decoding="async" loading="eager" />
                <p>{app.nameweb}</p>
              )}
            </div>
          )
        )
      }
    </div>

    <!-- Why choose this Operator? -->
    <section
      class="my-14 flex flex-col w-full space-y-3"
    >
      <div class="flex flex-wrap justify-start items-end w-full gap-2">
        <h2
          class="uppercase text-xl text-balance tracking-tight font-bold"
        >
          ¿Por qué elegir {info.name}?
        </h2>
        <div class="flex flex-row justify-center items-end">
          <StarRating w={"22"} h={"26"} />
          <p class="text-end">{info.rating}</p>
        </div>
      </div>
      <p class="text-pretty tracking-tight">
        Hay varias razones clave para elegir a <strong>{info.name}</strong> como tu casa de apuestas preferida y aquí te las mostramos.
      </p>
      <p class="text-pretty tracking-tight">
        En primer lugar, la plataforma destaca por su diseño atractivo y fácil de usar. La interfaz es limpia y organizada, lo que permite a los usuarios navegar por las distintas secciones sin problemas. La accesibilidad es fundamental, y <strong>{info.name}</strong> lo logra ofreciendo una experiencia amigable para jugadores novatos y experimentados por igual.
      </p>
      <p class="text-pretty tracking-tight">
        Además, <strong>{info.name}</strong> se ha ganado la confianza de los apostadores gracias a su compromiso con la seguridad y la transparencia. La plataforma utiliza tecnología de última generación para proteger los datos de los usuarios y garantizar transacciones seguras. Además, su licencia de juego de curazao añade una capa adicional de confiabilidad.
      </p>
      <p class="text-pretty tracking-tight">
        Otro aspecto distintivo es que <strong>{info.name}</strong> se distingue por ofrecer una amplia gama de deportes y eventos, desde los más populares como fútbol, baloncesto y tenis, hasta opciones menos convencionales. Su oferta satisface los intereses de todos los apostadores, ya que incluye competiciones locales e internacionales.
      </p>
      <p class="text-pretty tracking-tight">
        <strong>{info.name}</strong> se ha ganado una buena reputación en los últimos años gracias a su amplia oferta de deportes, mercados y cuotas, así como a sus innovadoras promociones.
      </p>
      <p class="text-pretty tracking-tight">
        Si está buscando una casa de apuestas online confiable y segura, Rabona es una buena opción, sin duda.
      </p>
      <p class="text-pretty tracking-tight">
        ¡No te olvides de registrarte con nuestro código promocional <strong>{info.promocode}</strong> para obtener un extra en tu primer depósito!
      </p>
    </section>

    <!-- Advantage and Disadvantages -->
    <section
      class="my-14 flex flex-row flex-wrap sm:flex-nowrap w-full mx-auto gap-10"
    >
      <div
        class="flex flex-wrap flex-col w-full sm:w-1/2 h-auto py-10 px-5 border rounded-xl border-t-2 border-slate-800 bg-gradient-to-t from-black/60 to-slate-950 focus:outline-none focus:border-[#f0f3ff]"
      >
        <h3
          class="inline-flex mx-auto text-center text-balance tracking-tight text-2xl font-semibold mb-2"
        >
          Ventajas de {info.name}
        </h3>
        <div>
          <ul
            class="list-inside tracking-tight text-pretty space-y-2"
          >
            <li class="flex flex-row gap-2"><Check />Interfaz moderna y fácil de usar</li>
            <li class="flex flex-row gap-2"><Check />Gran variedad de depósitos y retiros</li>
            <li class="flex flex-row gap-2"><Check />Amplia gama de deportes</li>
            <li class="flex flex-row gap-2"><Check />Casino en vivo</li>
            <li class="flex flex-row gap-2"><Check />Exclusivos beneficios para VIP</li>
          </ul>
        </div>
      </div>
      <div
        class="flex flex-wrap flex-col w-full sm:w-1/2 h-auto py-10 px-5 border rounded-xl border-t-2 border-slate-800 bg-gradient-to-t from-black/60 to-slate-950 focus:outline-none focus:border-[#f0f3ff]"
      >
        <h3
          class="inline-flex mx-auto text-center text-balance tracking-tight text-2xl font-semibold mb-2"
        >
          Desventajas de {info.name}
        </h3>
        <div>
          <ul
            class="list-inside tracking-tight text-pretty space-y-2"
          >
          <li class="flex flex-row gap-2"><Equis />Proceso de retiro lento en ocasiones</li>
          <li class="flex flex-row gap-2"><Equis />Requisitos de apuesta para bonos elevados</li>
          </ul>
        </div>
      </div>
    </section>
  </section>
</>
