---
import PromoCode from "../../reviews/PromoCodeReview";

const { ...info } = Astro.props;
---

<>
  <!-- ¡Aumenta tus ganancias! -->
  <section
    id="promociones"
    class="my-20 flex flex-col w-full mx-auto space-y-5 text-[#f0f3ff] text-opacity-90"
  >
    <h2
      class="text-center text-2xl text-pretty tracking-tight uppercase sm:text-4xl font-bold text-[#f0f3ff] text-opacity-90 mb-3"
    >
      ¿CÓMO AUMENTAR TUS GANANCIAS EN {info.name}?
    </h2>
    <article class="flex flex-row flex-wrap sm:flex-nowrap w-full gap-10">
      <div
        class="relative overflow-hidden w-full sm:w-1/2 h-auto rounded-xl border border-slate-800 p-[1px] backdrop-blur-3xl"
      >
        <span
          class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#E2CBFF_0%,#393BB2_50%,#E2CBFF_100%)]"
        ></span>
        <div
          class="inline-flex h-full w-full items-center justify-center rounded-xl bg-slate-950 py-5 px-5 text-sm font-medium backdrop-blur-3xl"
        >
          <div
            class="flex flex-col justify-center items-center mx-auto p-4 space-y-3"
          >
            <h3
              class="inline-flex underline text-balance underline-offset-8 text-center tracking-tight text-xl font-semibold"
            >
              Código Promocional
            </h3>
            <p class="text-pretty text-center p-2 tracking-tight">
              Ingresa este <strong>código Promocional</strong> para obtener un adicional
              en tu primer depósito. No dejes pasar la oportunidad de mejorar tu
              experiencia de juego y aumentar tus fondos.
            </p>
            <PromoCode {...info} client:idle />
          </div>
        </div>
      </div>
      <div
        class="relative overflow-hidden w-full sm:w-1/2 h-auto rounded-xl border border-slate-800 p-[1px] backdrop-blur-3xl"
      >
        <span
          class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#E2CBFF_0%,#393BB2_50%,#E2CBFF_100%)]"
        ></span>
        <div
          class="inline-flex h-full w-full items-center justify-center rounded-xl bg-slate-950 py-10 px-5 text-sm font-medium backdrop-blur-3xl"
        >
          <div
            class="flex flex-col justify-center items-center mx-auto p-4 space-y-3"
          >
            <h3
              class="inline-flex text-balance underline underline-offset-8 text-center tracking-tight text-xl font-semibold"
            >
              Bono de Bienvenida
            </h3>
            <p class="text-pretty text-center tracking-tight">
              ¡<a
                href={info.urlregistro}
                target="_blank"
                rel="external noopener noreferrer nofollow"
                class="underline hover:text-gray-400">Regístrese ahora</a
              > y reciba un {info.bonotxt}!
            </p>
            <p class="text-pretty text-center tracking-tight">
              Recuerda revisar su sección de términos y condiciones
            </p>
          </div>
        </div>
      </div>
    </article>
    <div class="w-full flex flex-col justify-start items-start text-start">
      <div class="space-y-3 mt-5">
        <p class="tracking-tight text-pretty">
          <span
            class="inline-flex font-semibold underline underline-offset-4 mb-1"
          >
            IMPORTANTE:
          </span>
          <br />
          Al momento de registrarte, verás la opción de selección de <strong
            >Bono de Bienvenida, Código Promocional o Bono Primer Depósito</strong
          >. Una vez allí, selecciona e introduce tu Código Promocional <strong
            >{info.promocode}</strong
          > para recibir un adicional en tu depósito.
        </p>
        <p class="tracking-tight text-pretty">
          Luego del registro, deberás realizar tu <strong
            >primer depósito</strong
          >. El <strong>Bono de Bienvenida del 100%</strong> lo recibirás automáticamente
          a este punto. Sin embargo, si no lo recibes, debes ponerte en contacto
          con el soporte.
        </p>
      </div>
    </div>

    <h3 class="font-semibold text-balance tracking-tight text-lg">
      Estas son las 6 categorías de promociones que {info.name} ofrece:
    </h3>

    <!-- BONO DE PRIMER DEPÓSITO: -->
    <article class="flex flex-col w-full mx-auto">
      <h3 class="font-semibold text-balance tracking-tight text-lg">
        BONO DE PRIMER DEPÓSITO
      </h3>
      <div class="space-y-2">
        <p class="text-pretty tracking-tight">
          <strong>{info.name}</strong> ofrece un bono de bienvenida del <strong
            >100%</strong
          > para nuevos usuarios. Para obtenerlo, debes realizar un depósito mínimo
          de <strong>20 USD</strong>. Una vez que cumplas con estos requisitos,
          recibirás el bono en tu cuenta.
        </p>
      </div>
    </article>

    <!-- BONO DE RECARGA SEMANAL DEL 50%: -->
    <article>
      <h3 class="font-semibold text-balance tracking-tight text-lg">
        BONO DE RECARGA SEMANAL DEL 50%
      </h3>
      <div class="space-y-2">
        <p class="text-pretty tracking-tight">
          Cada semana, <strong>{info.name}</strong> ofrece un bono de recarga del
          <strong>50%</strong> hasta <strong>500 USD</strong>.
        </p>
      </div>
    </article>

    <!-- REEMBOLSO SEMANAL: -->
    <article>
      <h3 class="font-semibold text-balance tracking-tight text-lg">
        REEMBOLSO SEMANAL
      </h3>
      <div class="space-y-2">
        <p class="text-pretty tracking-tight">
          <strong>{info.name}</strong> ofrece un reembolso semanal del <strong
            >10%</strong
          > de tus pérdidas. El período promocional va desde el lunes hasta el domingo.
        </p>
      </div>
    </article>

    <!-- APUESTA GRATUITA DE PUNTUACIÓN CORRECTA: -->
    <article>
      <h3 class="font-semibold text-balance tracking-tight text-lg">
        APUESTA GRATUITA DE PUNTUACIÓN CORRECTA
      </h3>
      <div class="space-y-2">
        <p class="text-pretty tracking-tight">
          Cada día, <strong>{info.name}</strong> ofrece una apuesta gratuita para
          predecir la puntuación correcta de un partido de fútbol. Para participar,
          debes crear una selección en el mercado de puntuación correcta y esperar
          a que se liquide. Si tu selección es correcta, recibirás la apuesta gratuita
          en tu cuenta.
        </p>
      </div>
    </article>

    <!-- CASHOUT: -->
    <article>
      <h3 class="font-semibold text-balance tracking-tight text-lg">CASHOUT</h3>
      <div class="space-y-2">
        <p class="text-pretty tracking-tight">
          Puedes cerrar una apuesta antes de que se resuelva, recibiendo una
          parte de las ganancias o pérdidas potenciales.
        </p>
      </div>
    </article>

    <!-- EMOCIÓN DE DEPORTES VIRTUALES: -->
    <article>
      <h3 class="font-semibold text-balance tracking-tight text-lg">
        EMOCIÓN DE DEPORTES VIRTUALES
      </h3>
      <div class="space-y-2">
        <p class="text-pretty tracking-tight">
          Para obtener una bonificación de deportes virtuales de <strong
            >{info.name}</strong
          >, debes realizar apuestas por un valor total de al menos <strong
            >200 USD</strong
          > (o el equivalente en moneda). Todas las apuestas deben liquidarse para
          que la bonificación sea válida. El monto del bono equivale al <strong
            >10%</strong
          > del valor total de las apuestas realizadas. La bonificación se acreditará
          como una apuesta gratuita que podrás usar en cualquier evento de deportes
          virtuales.
        </p>
      </div>
    </article>

    <p class="text-pretty tracking-tight">
      Leer más acerca de las
      <a
        href={info.urlpromo}
        target="_blank"
        rel="external noopener noreferrer nofollow"
        class="underline hover:text-gray-400"
        aria-label="Ir a la pagina de promociones"
        >promociones de <strong>{info.name}</strong>
      </a>
    </p>

    <p class="tracking-tight text-pretty underline">
      Las promociones de <strong>{info.name}</strong> están sujetas a cambios. Es
      importante consultar los términos y condiciones de cada promoción antes de
      participar.
    </p>
  </section>
</>
