---
const { ...info } = Astro.props;
---

<section
  id="deportes"
  class="my-20 flex flex-col w-full mx-auto space-y-12 text-[#f0f3ff] text-opacity-90"
>
  <!-- Servicios -->
  <div class="space-y-10">
    <h2
      class="text-center text-2xl text-balance tracking-tight sm:text-4xl font-bold uppercase"
    >
      SERVICIOS QUE NOS OFRECE {info.name}
    </h2>
    <div
      class="flex flex-row flex-wrap sm:flex-nowrap w-full gap-10 mx-auto text-[#f0f3ff] text-opacity-90"
    >
      <!-- E-Sports -->
      <div
        class="flex flex-wrap w-full sm:w-1/2 h-auto py-10 px-5 border rounded-xl border-t-2 border-slate-800 bg-gradient-to-t from-black/60 to-slate-950 focus:outline-none focus:border-[#f0f3ff]"
      >
        <div class="flex flex-col justify-center items-center mx-auto">
          <img
            src="/sports/esports.svg"
            alt="Icono de Sports"
            width="56"
            height="56"
            loading="lazy"
          />
          <h3
            class="inline-flex mx-auto text-center tracking-tight text-xl sm:text-2xl font-semibold mb-2"
          >
            Esports
          </h3>
          <p class="text-pretty text-center tracking-tight">
            3.500 eventos en más de 25 disciplinas de esports
          </p>
        </div>
      </div>

      <!-- Sports -->
      <div
        class="flex flex-wrap w-full sm:w-1/2 h-auto py-10 px-5 border rounded-xl border-t-2 border-slate-800 bg-gradient-to-t from-black/60 to-slate-950 focus:outline-none focus:border-[#f0f3ff]"
      >
        <div class="flex flex-col justify-center items-center mx-auto">
          <img
            src="/sports/sports.svg"
            alt="Icono de Sports"
            width="56"
            height="56"
            loading="lazy"
          />
          <h3
            class="inline-flex mx-auto text-center tracking-tight text-xl sm:text-2xl font-semibold mb-2"
          >
            Deportes
          </h3>
          <p class="text-pretty text-center tracking-tight">
            Más de 50 deportes y más de 1.000 eventos diarios
          </p>
        </div>
      </div>

      <!-- Casino -->
      <div
        class="flex flex-wrap w-full sm:w-1/2 h-auto py-10 px-5 border rounded-xl border-t-2 border-slate-800 bg-gradient-to-t from-black/60 to-slate-950 focus:outline-none focus:border-[#f0f3ff]"
      >
        <div class="flex flex-col justify-center items-center mx-auto">
          <img
            src="/sports/casino.svg"
            alt="Icono de Sports"
            width="56"
            height="56"
            loading="lazy"
          />
          <h3
            class="inline-flex mx-auto text-center tracking-tight text-xl sm:text-2xl font-semibold mb-2"
          >
            Casino
          </h3>
          <p class="text-pretty text-center tracking-tight">
            Más de 13.000 juegos de casino disponibles
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Mejores Deportes -->
  <div class="flex flex-col w-full mx-auto space-y-10">
    <h2
      class="text-center text-2xl text-balance tracking-tight uppercase sm:text-4xl font-bold"
    >
      DEPORTES MÁS APOSTADOS EN {info.name}
    </h2>
    <div
      class="flex flex-wrap sm:flex-nowrap w-full justify-center items-center sm:divide-x-2 mx-auto h-auto space-y-5 sm:space-y-0 py-10 px-5 border gap-5 rounded-xl border-t-2 border-slate-800 bg-gradient-to-t from-black/60 to-slate-950 focus:outline-none focus:border-[#f0f3ff]"
    >
      <div
        class="flex flex-col w-1/2 sm:w-full justify-center items-center sm:pl-5 text-balance space-y-3"
      >
        <img
          src="/sports/futbol.svg"
          alt="Icono de Fútbol"
          width="56"
          height="56"
          loading="lazy"
        />
        <h3 class="text-center">Fútbol</h3>
      </div>
      <div
        class="flex flex-col w-1/2 sm:w-full justify-center items-center sm:pl-5 text-balance space-y-3"
      >
        <img
          src="/sports/basketball.svg"
          alt="Icono de Baloncesto"
          width="56"
          height="56"
          loading="lazy"
        />
        <h3 class="text-center">Baloncesto</h3>
      </div>
      <div
        class="flex flex-col grow w-1/3 sm:w-full justify-center items-center sm:pl-5 text-pretty space-y-3"
      >
        <img
          src="/sports/tennis.svg"
          alt="Icono de Tenis"
          width="56"
          height="56"
          loading="lazy"
        />
        <h3 class="text-center">Tenis</h3>
      </div>
      <div
        class="flex flex-col grow w-1/3 sm:w-full justify-center items-center sm:pl-5 text-pretty space-y-3"
      >
        <img
          src="/sports/boxing.svg"
          alt="Icono de Boxeo"
          width="56"
          height="56"
          loading="lazy"
        />
        <h3 class="text-center">Boxeo</h3>
      </div>
    </div>
  </div>

  <!-- Cuotas o momios -->
  <div class="space-y-10">
    <div class="w-full flex flex-col justify-start items-start text-start">
      <div class="space-y-3">
        <p class="tracking-tight text-pretty">
          <strong>{info.name}</strong> destaca como una casa de apuestas en línea
          que brinda una extensa variedad de opciones en deportes, mercados y momios,
          lo que la convierte en una opción ideal para los apostadores de todos los
          niveles.
        </p>
        <p class="tracking-tight text-pretty">
          Los deportes que nos ofrecen incluye fútbol, baloncesto, tenis, fútbol
          americano, hockey sobre hielo, béisbol, boxeo, MMA, deportes
          electrónicos y muchos más. Para cada deporte, hay una amplia variedad
          de ligas y torneos disponibles.
        </p>
        <p class="tracking-tight text-pretty">
          <strong>{info.name}</strong> ofrece también una variedad de apuestas especiales,
          como apuestas al clima, apuestas a la política, apuestas a la cultura popular.
        </p>
      </div>
    </div>

    <div class="flex flex-col w-full mx-auto">
      <h3 class="font-semibold text-balance tracking-tight uppercase text-lg">
        CUOTAS O MOMIOS EN {info.name}
      </h3>
      <div class="space-y-2">
        <p class="text-pretty tracking-tight">
          Las cuotas o momios de <strong>{info.name}</strong> son un verdadero punto
          destacado, sobresaliendo con tasas competitivas en diversos eventos deportivos.
          Se distingue al ofrecer oportunidades de apuestas con tasas que no pasan
          desapercibidas, brindando la posibilidad de maximizar tus ganancias.
        </p>
        <p class="text-pretty tracking-tight">
          <strong>{info.name}</strong> se erige como una opción irresistible para
          los amantes de las apuestas gracias a sus cuotas competitivas. Experimenta
          la emoción de apostar con tasas que marcan la diferencia, proporcionando
          una experiencia enriquecedora y emocionante.
        </p>
      </div>
    </div>
  </div>
</section>
