---
import PromoCode from "../../reviews/PromoCodeReview";

const { ...info } = Astro.props;
---

<>
  <!-- ¡Aumenta tus ganancias! -->
  <section
    id="promociones"
    class="my-20 flex flex-col w-full mx-auto space-y-5 text-[#f0f3ff] text-opacity-90"
  >
    <h2
      class="text-center text-2xl text-pretty tracking-tight uppercase sm:text-4xl font-bold text-[#f0f3ff] text-opacity-90 mb-3"
    >
      ¿CÓMO AUMENTAR TUS GANANCIAS EN {info.name}?
    </h2>
    <article class="flex flex-row flex-wrap sm:flex-nowrap w-full gap-10">
      <div
        class="relative overflow-hidden w-full sm:w-1/2 h-auto rounded-xl border border-slate-800 p-[1px] backdrop-blur-3xl"
      >
        <span
          class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#E2CBFF_0%,#393BB2_50%,#E2CBFF_100%)]"
        ></span>
        <div
          class="inline-flex h-full w-full items-center justify-center rounded-xl bg-slate-950 py-5 px-5 text-sm font-medium backdrop-blur-3xl"
        >
          <div
            class="flex flex-col justify-center items-center mx-auto p-4 space-y-3"
          >
            <h3
              class="inline-flex underline text-balance underline-offset-8 text-center tracking-tight text-xl font-semibold"
            >
              Código Promocional
            </h3>
            <p class="text-pretty text-center p-2 tracking-tight">
              Ingresa este código Promocional para obtener un <strong
                >30%</strong
              > adicional en tu depósito. No dejes pasar la oportunidad de mejorar
              tu experiencia de juego y aumentar tus fondos.
            </p>
            <PromoCode {...info} client:idle />
          </div>
        </div>
      </div>
      <div
        class="relative overflow-hidden w-full sm:w-1/2 h-auto rounded-xl border border-slate-800 p-[1px] backdrop-blur-3xl"
      >
        <span
          class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#E2CBFF_0%,#393BB2_50%,#E2CBFF_100%)]"
        ></span>
        <div
          class="inline-flex h-full w-full items-center justify-center rounded-xl bg-slate-950 py-10 px-5 text-sm font-medium backdrop-blur-3xl"
        >
          <div
            class="flex flex-col justify-center items-center mx-auto p-4 space-y-3"
          >
            <h3
              class="inline-flex text-balance underline underline-offset-8 text-center tracking-tight text-xl font-semibold"
            >
              Bono de Bienvenida
            </h3>
            <p class="text-pretty text-center tracking-tight">
              ¡Regístrate y reciba un {info.bonotxt}!
            </p>
            <p class="text-pretty text-center tracking-tight">
              Puede estar sujeta a un rollover. Revisa los términos y
              condiciones.
            </p>
          </div>
        </div>
      </div>
    </article>
    <div class="w-full flex flex-col justify-start items-start text-start">
      <div class="space-y-3 mt-5">
        <p class="tracking-tight text-pretty">
          <span
            class="inline-flex font-semibold underline underline-offset-4 mb-1"
          >
            IMPORTANTE:
          </span>
          <br />
          Al momento de registrarse, deberás de ingresar el Código Promocional <strong
            >{info.promocode}</strong
          > antes de finalizar el registro.
        </p>
        <p class="tracking-tight text-pretty">
          Luego del registro, deberás realizar tu primer depósito. El Bono de
          Bienvenida del 100% lo recibirás automáticamente a este punto. Sin
          embargo, si no lo recibes, debes ponerte en contacto con el soporte.
        </p>
      </div>
    </div>

    <h3 class="font-semibold text-balance tracking-tight text-lg">
      Estas son las 4 categorías que {info.name} ofrece:
    </h3>

    <!-- JUEGOS DE BONO -->
    <article class="flex flex-col w-full mx-auto">
      <h3 class="font-semibold text-balance tracking-tight text-lg">
        JUEGOS DE BONO
      </h3>
      <div class="space-y-2">
        <p class="text-pretty tracking-tight">
          Son una categoría de juegos de casino que ofrecen recompensas
          especiales a los jugadores. Estas recompensas pueden ser en forma de
          giros gratis, premios como teléfonos o premios en efectivo
        </p>
      </div>
    </article>

    <!-- PROMOCIONES -->
    <article>
      <h3 class="font-semibold text-balance tracking-tight text-lg">
        PROMOCIONES
      </h3>
      <div class="space-y-2">
        <p class="text-pretty tracking-tight">
          <strong>{info.name}</strong> ofrece estas promociones que pueden ser de
          todo tipo, desde bonos de bienvenida, hasta reembolsos en caso de pérdida.
        </p>
        <p class="text-pretty tracking-tight">
          Las promociones suelen estar disponibles por un tiempo limitado, por
          eso es importante consultar la página de promociones con frecuencia.
        </p>
      </div>
    </article>

    <!-- BONOS Y OFERTAS -->
    <article>
      <h3 class="font-semibold text-balance tracking-tight text-lg">
        BONOS Y OFERTAS
      </h3>
      <div class="space-y-2">
        <p class="text-pretty tracking-tight">
          Los bonos y ofertas son una categoría que combina los juegos de bono y
          las promociones. En esta categoría, los jugadores pueden encontrar una
          amplia variedad de ofertas.
        </p>
      </div>
    </article>

    <!-- TIENDA DE CÓDIGOS PROMOCIONALES-->
    <article>
      <h3 class="font-semibold text-balance tracking-tight text-lg">
        TIENDA DE CÓDIGOS PROMOCIONALES
      </h3>
      <div class="space-y-2">
        <p class="text-pretty tracking-tight">
          En esta sección los jugadores pueden intercambiar puntos de bono por
          códigos promocionales para hacer apuestas gratis en cualquier evento
          deportivo.
        </p>
      </div>
    </article>

    <p class="text-pretty tracking-tight">
      Leer más acerca de las
      <a
        href={info.urlpromo}
        target="_blank"
        rel="external noopener nofollow"
        class="underline hover:text-gray-400"
        aria-label="Ir a la pagina de promociones"
        >promociones de <strong>{info.name}</strong>
      </a>
    </p>
  </section>
</>
