---
import StarRating from "../icons/StarRating.astro";

const reviews = [
  {
    name: "Sportsbet",
    img: "operators/nobg/sportsbet.svg",
    rating: "4.5",
    url: "https://aff.partners.io/visit/?bta=43235&brand=sportsbetio",
  },
  {
    name: "Stake",
    img: "operators/nobg/stake.svg",
    rating: "4.0",
    url: "https://stake.com/?c=RmJRJH9W",
  },
  {
    name: "Rabona",
    img: "operators/nobg/rabona.svg",
    rating: "4.7",
    url: "https://rbn.servclick1move.com/?mid=95157_714721",
  },
  {
    name: "Pinnacle",
    img: "operators/nobg/pinnacle.svg",
    rating: "4.6",
    url: "https://wlpinnacle.adsrv.eacdn.com/C.ashx?btag=a_31512b_18926c_&affid=25020&siteid=31512&adid=18926&c=",
  },
  {
    name: "BetWinner",
    img: "operators/nobg/betwinner.svg",
    rating: "4.2",
    url: "https://bwredir.com/29y1?p=%2Fregistration%2F",
  },
  {
    name: "1Xbet",
    img: "operators/nobg/1xbet.svg",
    rating: "4.3",
    url: "https://affpa.top/L?tag=d_3090539m_97c_&site=3090539&ad=97&r=registration",
  },
  {
    name: "Betway",
    img: "operators/nobg/betway.svg",
    rating: "4.4",
    url: "https://betway.com/bwp/latam?s=bw228596&a=AFF4142061113668931&utm_source=228596&utm_medium=Affiliate&utm_campaign=AFF4142061113668931",
  },
];
---

<section
  class="my-40 flex flex-col max-w-screen-md w-full mx-auto space-y-10 text-[#f0f3ff] text-opacity-90"
>
  <h2
    class="text-center text-xl text-pretty tracking-tight sm:text-3xl font-bold mb-3"
  >
    <span
      class="tracking-tight bg-gradient-to-t from-[#c7d2fe] to-[#8678f9] bg-clip-text text-transparent"
    >
      CASAS DE APUESTAS MÁS POPULARES
    </span>
  </h2>
  <div class="flex flex-col relative h-52 w-full overflow-hidden">
    <!-- First Carousel -->
    <div class="flex w-full overflow-x-hidden [--gap:1rem] [--duration:15s]">
      <div
        class="flex w-max animate-marquee items-stretch gap-[--gap] [animation-direction:reverse] hover:[animation-play-state:paused]"
      >
        {
          reviews.map((info) => (
            <a
              {...info}
              href={info.url}
              target="_blank"
              rel="external noopener nofollow"
              class="flex h-48 w-48 rounded-xl border-t-2 border-slate-800 bg-gradient-to-t from-black/60 to-slate-950 px-8 py-16 group focus:outline-none focus:border-[#f0f3ff]"
            >
              <div class="flex flex-col h-auto items-center justify-center gap-5 transition group-hover:scale-110">
                <img
                  src={info.img}
                  width="120"
                  height="90"
                  alt={`Logo de ${info.name}, casa de apuestas deportivas en línea`}
                  title={`Logo de ${info.name}, casa de apuestas deportivas en línea`}
                  class="w-full h-full"
                />
                <div class="flex flex-row justify-center w-full items-end">
                  <StarRating w={"22"} h={"26"} />
                  <p>{info.rating}</p>
                </div>
              </div>
            </a>
          ))
        }
      </div>
    </div>

    <!-- Left Gradient -->
    <div
      class="absolute inset-y-0 left-0 w-20 pointer-events-none from-[#020617] to-transparent bg-gradient-to-r"
    >
    </div>

    <!-- Right Gradient -->
    <div
      class="absolute inset-y-0 right-0 w-20 pointer-events-none bg-gradient-to-l from-[#020617]"
    >
    </div>
  </div>
</section>
