---
const reviews = [
  {
    name: "BetWinner",
    img: "/operators/nobg/betwinner.svg",
    rating: "4.2",
    url: "https://bwredir.com/29y1?p=%2Fregistration%2F",
  },
  {
    name: "1Xbet",
    img: "/operators/nobg/1xbet.svg",
    rating: "4.3",
    url: "https://affpa.top/L?tag=d_3090539m_97c_&site=3090539&ad=97&r=registration",
  },
  {
    name: "Betway",
    img: "/operators/nobg/betway.svg",
    rating: "4.4",
    url: "https://betway.com/bwp/latam?s=bw228596&a=AFF4142061113668931&utm_source=228596&utm_medium=Affiliate&utm_campaign=AFF4142061113668931",
  },
  {
    name: "Sportsbet",
    img: "/operators/nobg/sportsbet.svg",
    rating: "4.5",
    url: "https://aff.partners.io/visit/?bta=43235&brand=sportsbetio",
  },
  {
    name: "Pinnacle",
    img: "/operators/nobg/pinnacle.svg",
    rating: "4.6",
    url: "https://wlpinnacle.adsrv.eacdn.com/C.ashx?btag=a_31512b_18926c_&affid=25020&siteid=31512&adid=18926&c=",
  },
  {
    name: "Rabona",
    img: "/operators/nobg/rabona.svg",
    rating: "4.7",
    url: "https://rbn.servclick1move.com/?mid=95157_714721",
  },
  {
    name: "bet O bet",
    img: "/operators/nobg/betobet.svg",
    rating: "4.8",
    url: "https://go.betobet.online/visit/?bta=37769&nci=6499",
  },
];
---

<article
  class="my-10 p-4 flex flex-col max-w-screen-md w-full mx-auto text-center space-y-5"
>
  <h2
    class="text-center text-xl sm:text-3xl font-bold animate-text-gradient bg-gradient-to-r from-[#c6c7ff] via-[#8678f9] to-[#eeefff] bg-[200%_auto] bg-clip-text text-transparent"
  >
    CASAS DE APUESTAS RECOMENDADAS
  </h2>
  <p>
    Descubre las sugerencias de nuestros especialistas y encuentra la plataforma
    de apuestas perfecta según tus preferencias. Nos comprometemos a ofrecerte
    una experiencia de primera, confiable y llena de emoción para tus eventos
    deportivos y actividades en línea favoritas. Embárcate en la emocionante
    travesía del universo de las apuestas en línea en Latinoamérica.
  </p>
  <section class="flex flex-col relative h-52 w-full overflow-hidden">
    <!-- First Carousel -->
    <div
      class="flex flex-row overflow-x-hidden [--gap:1rem] [--duration:15s] mt-5 w-max animate-marquee items-stretch gap-[--gap] [animation-direction:reverse] hover:[animation-play-state:paused]"
    >
      {
        reviews.map((info) => (
          <a
            href={info.url}
            target="_blank"
            rel="external noopener noreferrer sponsored"
            class="flex flex-col justify-center items-center mx-auto h-44 w-48 space-y-4 rounded-xl border-2 border-slate-800 bg-gradient-to-t from-black/60 to-slate-950 px-8 py-16 group focus:outline-none"
          >
            <div class="w-full h-full">
              <img
                src={info.img}
                loading="lazy"
                decoding="async"
                width="120"
                height="40"
                alt={`Logo de ${info.name}, casa de apuestas deportivas en línea`}
                title={`Logo de ${info.name}, casa de apuestas deportivas en línea`}
                class="object-contain w-32 h-16 transition hover:scale-110"
              />
            </div>

            <div class="flex flex-row justify-center items-center w-full">
              <img
                src="/others/star-rating.svg"
                alt="Icono star rating"
                title="Icono star rating"
                width="24"
                height="20"
                decoding="async"
                loading="lazy"
                class="w-6 h-5"
              />
              <span>{info.rating}</span>
            </div>
          </a>
        ))
      }
    </div>

    <!-- Left Gradient -->
    <span
      class="absolute inset-y-0 left-0 w-20 pointer-events-none from-slate-950 to-transparent bg-gradient-to-r"
    >
    </span>

    <!-- Right Gradient -->
    <span
      class="absolute inset-y-0 right-0 w-20 pointer-events-none bg-gradient-to-l from-slate-950"
    >
    </span>
  </section>
</article>
