---
import StarRating from "../../../components/icons/StarRating.astro";
import { CountUp } from "../../../components/reviews/CountUp";
import Check from "../../icons/Check.astro";
import Equis from "../../icons/Equis.astro";

const { ...info } = Astro.props;
---

<>
  <!-- Stadistics -->
  <section
    id="detalle"
    class="mt-5 mb-10 flex flex-col w-full mx-auto space-y-10 text-[#f0f3ff] text-opacity-90"
  >

    <picture class="flex flex-row item-center justify-center">
      <img src="/operators/nobg/sportsbet.svg" 
      width="130" 
      height="50"
      decoding="async" 
      loading="eager" 
      alt={`Logo de la casa de apuestas ${info.name}`}
      title={`Logo de la casa de apuestas ${info.name}`}
      class="rounded-lg w-72 md:w-96 h-auto my-10" />
    </picture>

    <div
      class="flex flex-wrap sm:flex-nowrap w-full justify-center items-center sm:divide-x-2 h-auto space-y-5 sm:space-y-0 py-10 px-2 border gap-1 rounded-xl border-t-2 border-slate-800 bg-gradient-to-t from-black/60 to-slate-950 focus:outline-none focus:border-[#f0f3ff]"
    >
      <div class="flex flex-col grow w-full items-center text-balance space-y-3">
        <CountUp client:visible initial={0} final={3000}/>
        <p class="text-lg sm:text-xl text-center tracking-tight">
          Eventos diarios
        </p>
      </div>
      <div
        class="flex flex-col grow w-1/4 sm:w-full justify-center items-center pl-5 text-balance space-y-3"
      >
        <CountUp client:visible initial={0} final={3} showPlusSign={false} />
        <p class="text-lg sm:text-xl text-center tracking-tight">
          Formatos de cuotas
        </p>
      </div>
      <div
        class="flex flex-col grow w-1/4 sm:w-full justify-center items-center pl-5 text-balance space-y-3"
      >
      <CountUp client:visible initial={0} final={30} />
      <p class="text-lg sm:text-xl text-center tracking-tight">
        Diferentes deportes
      </p>
      </div>
      <div
        class="flex flex-col grow w-1/4 sm:w-full justify-center items-center pl-0 sm:pl-5 text-balance space-y-3"
      >
        <CountUp client:visible initial={0} final={10} />
        <p class="text-lg sm:text-xl text-center tracking-tight">
          Métodos de pago
        </p>
      </div>
    </div>

    <!-- Apps -->
    <div class="flex flex-row justify-center items-center flex-wrap">
      {
        info.apps.map(
          (app: {
            android: string | null | undefined;
            ios: string | null | undefined;
            webapp: string | null | undefined;
            nameandroid: string | null | undefined;
            nameios: string | null | undefined;
            nameweb: string | null | undefined;
          }) => (
            <div class="flex flex-row justify-start items-center gap-2">
              {app.android && (
                <img src={app.android} alt="Android" title="Android" width="16" height="16" decoding="async" loading="eager" />
                <p>{app.nameandroid}</p>
              )}
              {app.ios && (
                <img src={app.ios} alt="iOS" title="iOS" width="16" height="16" decoding="async" loading="eager" />
                <p>{app.nameios}</p>
              )}
              {app.webapp && (
                <img src={app.webapp} alt="WebApp" title="WebApp" width="16" height="16" decoding="async" loading="eager" />
                <p>{app.nameweb}</p>
              )}
            </div>
          )
        )
      }
    </div>

    <!-- Why choose this Operator? -->
    <section
      class="my-14 flex flex-col w-full space-y-3"
    >
      <div class="flex flex-wrap justify-start items-end w-full gap-2">
        <h2
          class="uppercase text-xl text-balance tracking-tight font-bold"
        >
          ¿Por qué elegir {info.name}?
        </h2>
        <div class="flex flex-row justify-center items-end">
          <StarRating w={"22"} h={"26"} />
          <p class="text-end">{info.rating}</p>
        </div>
      </div>
      <p class="text-pretty tracking-tight">
        <strong>{info.name}</strong> es un destacado referente en el ámbito de las apuestas en deportes digitales y criptomonedas. Desde su lanzamiento en 2016, ha ido innovando y consolidándose en el mercado, permitiendo a los jugadores una experiencia de apuestas criptográficas agradable y sin inconvenientes. Sus recientes incorporaciones de embajadores globales y el Sportsbet Clubhouse son ejemplos de su compromiso con la excelencia.
      </p>
      <p class="text-pretty tracking-tight">
        Su catálogo abarca una extensa muestra de deportes en vivo, así como una numerosa selección de eSports, como MOBA, FPS y eventos deportivos virtuales. No menos importante es el más reciente sistema Free-6-6, una experiencia de apuestas que brinda la posibilidad de ganar Bitcoin cada semana.
      </p>
      <p class="text-pretty tracking-tight">
        También se suma el casino online de primer nivel que ofrece abanico de opciones con diferentes temas y jugabilidad creados por los mejores desarrolladores de software, como Evolution, One Touch, Play'n GO y Hacksaw Gaming.
      </p>
      <p class="text-pretty tracking-tight">
        Un detalle que no puede pasarse por alto es su asociación oficial con equipos de renombre como el Arsenal FC, el Southampton y el Sao Paulo, lo cual subraya su estatus como un sitio completamente seguro, legal y confiable. Esto demuestra no solo una experiencia de apuestas de alta calidad, sino también un compromiso firme con la integridad y la excelencia respaldado por asociaciones estratégicas.
      </p>
    </section>

    <!-- Advantage and Disadvantages -->
    <section
      class="my-14 flex flex-row flex-wrap sm:flex-nowrap w-full mx-auto gap-10"
    >
      <div
        class="flex flex-wrap flex-col w-full sm:w-1/2 h-auto py-10 px-5 border rounded-xl border-t-2 border-slate-800 bg-gradient-to-t from-black/60 to-slate-950 focus:outline-none focus:border-[#f0f3ff]"
      >
        <h3
          class="inline-flex mx-auto text-center text-balance tracking-tight text-2xl font-semibold mb-2"
        >
          Ventajas de {info.name}
        </h3>
        <div>
          <ul
            class="list-inside tracking-tight text-pretty space-y-2"
          >
            <li class="flex flex-row gap-2"><Check /> Apuestas con criptomonedas</li>
            <li class="flex flex-row gap-2"><Check /> Mejores cuotas en criptomonedas</li>
            <li class="flex flex-row gap-2"><Check /> Diseño moderno y fácil de usar</li>
            <li class="flex flex-row gap-2"><Check /> Variedad de promociones</li>
            <li class="flex flex-row gap-2"><Check /> Retiros rápidos</li>
            <li class="flex flex-row gap-2"><Check /> App móvil disponible para Android e iOS</li>
          </ul>
        </div>
      </div>
      <div
        class="flex flex-wrap flex-col w-full sm:w-1/2 h-auto py-10 px-5 border rounded-xl border-t-2 border-slate-800 bg-gradient-to-t from-black/60 to-slate-950 focus:outline-none focus:border-[#f0f3ff]"
      >
        <h3
          class="inline-flex mx-auto text-center text-balance tracking-tight text-2xl font-semibold mb-2"
        >
          Desventajas de {info.name}
        </h3>
        <div>
          <ul
            class="list-inside tracking-tight text-pretty space-y-2"
          >
          <li class="flex flex-row gap-2"><Equis />Pocos métodos de pagos tradicionales</li>
          <li class="flex flex-row gap-2"><Equis />No ofrece un tradicional bono de bienvenida</li>
        </ul>
        </div>
      </div>
    </section>
  </section>
</>
