---
const { ...info } = Astro.props;
---

<section
  id="pagos"
  class="my-20 flex flex-col w-full mx-auto space-y-10 text-[#f0f3ff] text-opacity-90"
>
  <h2
    class="text-center text-2xl text-balance tracking-tight uppercase sm:text-4xl font-bold"
  >
    MÉTODOS DE DEPÓSITOS Y RETIROS DE {info.name}
  </h2>
  <!-- Payments Methods -->
  <article>
    <div class="space-y-2">
      <p class="text-pretty tracking-tight">
        La fluidez y confiabilidad en las transacciones financieras son
        elementos cruciales al elegir una casa de apuestas, y en este sentido,
        <strong>{info.name}</strong> destaca por ofrecer una experiencia de depósito
        y retiro que satisface las expectativas más exigentes de los usuarios.
      </p>
      <p class="text-pretty tracking-tight">
        Al brindar a los usuarios una variedad de opciones de pago tradicionales
        seguras, eficientes y transparentes, <strong>{info.name}</strong> se posiciona
        como una opción confiable para aquellos que valoran la integridad en las
        transacciones financieras en el emocionante mundo de las apuestas deportivas
        y el juego de las apuestas deportivas.
      </p>
      <p class="text-pretty tracking-tight">
        Cabe destacar que, por el momento, <span class="underline"
          >no aceptan criptomonedas</span
        > como método de pago. Sin embargo, estan constantemente evaluando nuevas
        opciones para mejorar aún más la experiencia de nuestros usuarios.
      </p>
      <p class="text-pretty tracking-tight">
        A continuación, te presentamos las opciones más populares entre los
        jugadores en la actualidad, destacando por su rapidez, facilidad y
        seguridad en las transacciones:
      </p>
    </div>

    <!-- Payments Methods -->
    <div
      class="flex flex-row flex-wrap sm:flex-nowrap w-full gap-10 mx-auto mt-10"
    >
      <!-- Tradicional Payments -->
      <div
        class="flex flex-wrap w-full sm:w-1/2 h-auto py-10 px-5 border rounded-xl border-t-2 border-slate-800 bg-gradient-to-t from-black/60 to-slate-950 focus:outline-none focus:border-[#f0f3ff]"
      >
        <h3
          class="inline-flex mx-auto text-center text-balance tracking-tight text-xl sm:text-2xl font-semibold mb-2"
        >
          Métodos de pago más comunes
        </h3>
        <div
          class="flex flex-wrap justify-center items-center mx-auto p-2 gap-1"
        >
          <img
            src="/payments/common/muchbetter.svg"
            alt="Much Better"
            width="94"
            height="94"
            loading="lazy"
          />
          <img
            src="/payments/common/payz.svg"
            alt="Payz"
            width="60"
            height="60"
            loading="lazy"
          />
          <img
            src="/payments/common/skrill.svg"
            alt="Skrill"
            width="60"
            height="60"
            loading="lazy"
          />
          <img
            src="/payments/common/neteller.svg"
            alt="Neteller"
            width="72"
            height="72"
            loading="lazy"
          />
          <img
            src="/payments/common/astropay.svg"
            alt="AstroPay"
            width="72"
            height="72"
            loading="lazy"
          />
          <img
            src="/payments/common/ezeewallet.svg"
            alt="eZeewallet"
            width="96"
            height="96"
            loading="lazy"
          />
          <img
            src="/payments/common/visa.svg"
            alt="Visa"
            width="60"
            height="60"
            loading="lazy"
          />
          <img
            src="/payments/common/mastercard.svg"
            alt="Master Card"
            width="48"
            height="40"
            loading="lazy"
          />
          <img
            src="/payments/common/mercado-pago.svg"
            alt="Mercado Pago"
            width="44"
            height="44"
            loading="lazy"
          />
          <img
            src="/payments/common/tupay.svg"
            alt="Tupay"
            width="94"
            height="94"
            loading="lazy"
          />
        </div>
      </div>

      <!-- Crypto Payments -->
      <div
        class="flex flex-wrap w-full sm:w-1/2 h-auto py-10 px-5 border rounded-xl border-t-2 border-slate-800 bg-gradient-to-t from-black/60 to-slate-950 focus:outline-none focus:border-[#f0f3ff]"
      >
        <h3
          class="inline-flex mx-auto text-center text-balance tracking-tight text-xl sm:text-2xl font-semibold mb-2"
        >
          Criptomonedas más comunes
        </h3>
        <div class="flex flex-wrap justify-center items-center mx-auto p-2">
          <p class="text-pretty text-center tracking-tight">
            En la actualidad, <strong>{info.name}</strong> no brinda la opción de
            realizar depósitos ni retiros mediante criptomonedas.
          </p>
        </div>
      </div>
    </div>

    <!-- Tiempo de Acreditaciòn -->
    <div class="flex flex-col w-full mx-auto my-10">
      <h3 class="font-semibold text-balance tracking-tight text-lg">
        TIEMPOS DE ACREDITACIÓN
      </h3>
      <div class="space-y-2">
        <p class="text-pretty tracking-tight">
          Los tiempos de procesamiento de depósitos y retiros varían según el
          método elegido, pero en general, los depósitos se procesan de forma
          instantánea o en pocos minutos, mientras que los retiros pueden tardar
          entre 24 horas y 5 días hábiles.
        </p>
        <p class="text-pretty tracking-tight">
          <strong>{info.name}</strong> no cobra comisiones por depósitos, pero sí
          puede haber comisiones por retiros, dependiendo del método elegido.
        </p>
        <p class="text-pretty tracking-tight">
          La disponibilidad de métodos de depósito y retiro puede variar según
          el país del usuario.
        </p>
        <p class="text-pretty tracking-tight">
          Además de la información anterior, es importante que los usuarios
          consulten los términos y condiciones de <strong>{info.name}</strong> para
          obtener información detallada sobre los métodos de depósito y retiro disponibles
          en su país.
        </p>
      </div>
    </div>
  </article>
</section>
