---
import PromoCode from "../../reviews/PromoCodeReview";

const { ...info } = Astro.props;
---

<>
  <!-- ¡Aumenta tus ganancias! -->
  <section
    id="promociones"
    class="my-20 flex flex-col w-full mx-auto space-y-5 text-[#f0f3ff] text-opacity-90"
  >
    <h2
      class="text-center text-2xl text-pretty tracking-tight uppercase sm:text-4xl font-bold text-[#f0f3ff] text-opacity-90 mb-3"
    >
      ¿CÓMO AUMENTAR TUS GANANCIAS EN {info.name}?
    </h2>
    <article class="flex flex-row flex-wrap sm:flex-nowrap w-full gap-10">
      <div
        class="relative overflow-hidden w-full sm:w-1/2 h-auto rounded-xl border border-slate-800 p-[1px] backdrop-blur-3xl"
      >
        <span
          class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#E2CBFF_0%,#393BB2_50%,#E2CBFF_100%)]"
        ></span>
        <div
          class="inline-flex h-full w-full items-center justify-center rounded-xl bg-slate-950 py-5 px-5 text-sm font-medium backdrop-blur-3xl"
        >
          <div
            class="flex flex-col justify-center items-center mx-auto p-4 space-y-3"
          >
            <h3
              class="inline-flex underline text-balance underline-offset-8 text-center tracking-tight text-xl font-semibold"
            >
              Código Promocional
            </h3>
            <p class="text-pretty text-center p-2 tracking-tight">
              Por el momento, <strong>{info.name}</strong> no ofrece código promocional
            </p>
          </div>
        </div>
      </div>
      <div
        class="relative overflow-hidden w-full sm:w-1/2 h-auto rounded-xl border border-slate-800 p-[1px] backdrop-blur-3xl"
      >
        <span
          class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#E2CBFF_0%,#393BB2_50%,#E2CBFF_100%)]"
        ></span>
        <div
          class="inline-flex h-full w-full items-center justify-center rounded-xl bg-slate-950 py-10 px-5 text-sm font-medium backdrop-blur-3xl"
        >
          <div
            class="flex flex-col justify-center items-center mx-auto p-4 space-y-3"
          >
            <h3
              class="inline-flex text-balance underline underline-offset-8 text-center tracking-tight text-xl font-semibold"
            >
              Bono de Bienvenida
            </h3>
            <p class="text-pretty text-center tracking-tight">
              <strong>{info.name}</strong> no ofrece bono de bienvenida pero ofrece
              {info.bonotxt}
            </p>
          </div>
        </div>
      </div>
    </article>
    <div class="w-full flex flex-col justify-start items-start text-start">
      <div class="space-y-3 mt-5">
        <p class="text-pretty tracking-tight">
          <strong>{info.name}</strong> brinda una extensa variedad de juegos con
          bonificaciones, promociones y ofertas exclusivas.
        </p>
      </div>
    </div>

    <h3 class="font-semibold text-balance tracking-tight text-lg">
      Algunas de las opciones para aumentar tus ganancias son las siguientes:
    </h3>

    <!-- PRICE BOOST  -->
    <article class="flex flex-col w-full mx-auto">
      <h3 class="font-semibold text-balance tracking-tight text-lg">
        PRICE BOOST
      </h3>
      <div class="space-y-2">
        <p class="text-pretty tracking-tight">
          Esta función te permite multiplicar las probabilidades de una apuesta
          seleccionada, incrementando así el importe de la ganancia potencial,
          gratuitamente. La función se puede usar una vez por día y por deporte.
        </p>
      </div>
    </article>

    <!-- OFERTAS DIARIAS -->
    <article>
      <h3 class="font-semibold text-balance tracking-tight text-lg">
        OFERTAS DIARIAS
      </h3>
      <div class="space-y-2">
        <p class="text-pretty tracking-tight">
          Descubre una gran variedad de promociones y apuestas en vivo en
          nuestra página de ofertas diarias. Cada 2 horas, encontrarás nuevas
          opciones que abarcan los principales eventos deportivos. Sin duda,
          encontrarás una promoción perfecta para tu estilo de juego.
        </p>
      </div>
    </article>

    <!-- AUMENTO DE PRECIOS DIARIOS -->
    <article>
      <h3 class="font-semibold text-balance tracking-tight text-lg">
        AUMENTO DE PRECIOS DIARIOS
      </h3>
      <div class="space-y-2">
        <p class="text-pretty tracking-tight">
          Dirigido a los apostadores que operan en una variedad de mercados
          diferentes, este sistema les permite elegir un aumento de precio por
          día en los partidos seleccionados, maximizando así sus ganancias.
          Estos aumentos de precio se ejecutan durante todo el día y se
          reinician cada 24 horas.
        </p>
      </div>
    </article>

    <!-- CASINO BOOST -->
    <article>
      <h3 class="font-semibold text-balance tracking-tight text-lg">
        CASINO BOOST
      </h3>
      <div class="space-y-2">
        <p class="text-pretty tracking-tight">
          Esta función te permite aumentar tus ganancias durante un periodo de
          tiempo determinado, con un porcentaje de aumento específico.
        </p>
      </div>
    </article>

    <p class="text-pretty tracking-tight">
      Leer más acerca de las
      <a
        href={info.urlpromo}
        target="_blank"
        rel="external noopener noreferrer nofollow"
        class="underline hover:text-gray-400"
        aria-label="Ir a la pagina de promociones"
        >promociones de <strong>{info.name}</strong>
      </a>
    </p>
  </section>
</>
