---
const { ...info } = Astro.props;
---

<section
  id="deportes"
  class="my-20 flex flex-col w-full mx-auto space-y-12 text-[#f0f3ff] text-opacity-90"
>
  <!-- Servicios -->
  <div class="space-y-10">
    <h2
      class="text-center text-2xl text-balance tracking-tight sm:text-4xl font-bold uppercase"
    >
      SERVICIOS QUE NOS OFRECE {info.name}
    </h2>
    <div
      class="flex flex-row flex-wrap sm:flex-nowrap w-full gap-10 mx-auto text-[#f0f3ff] text-opacity-90"
    >
      <!-- E-Sports -->
      <div
        class="flex flex-wrap w-full sm:w-1/2 h-auto py-10 px-5 border rounded-xl border-t-2 border-slate-800 bg-gradient-to-t from-black/60 to-slate-950 focus:outline-none focus:border-[#f0f3ff]"
      >
        <div class="flex flex-col justify-center items-center mx-auto">
          <img
            src="/sports/esports.svg"
            alt="Icono de Sports"
            width="56"
            height="56"
            loading="lazy"
          />
          <h3
            class="inline-flex mx-auto text-center tracking-tight text-xl sm:text-2xl font-semibold mb-2"
          >
            Esports
          </h3>
          <p class="text-pretty text-center tracking-tight">
            1.000 eventos en más de 20 disciplinas de esports
          </p>
        </div>
      </div>

      <!-- Sports -->
      <div
        class="flex flex-wrap w-full sm:w-1/2 h-auto py-10 px-5 border rounded-xl border-t-2 border-slate-800 bg-gradient-to-t from-black/60 to-slate-950 focus:outline-none focus:border-[#f0f3ff]"
      >
        <div class="flex flex-col justify-center items-center mx-auto">
          <img
            src="/sports/sports.svg"
            alt="Icono de Sports"
            width="56"
            height="56"
            loading="lazy"
          />
          <h3
            class="inline-flex mx-auto text-center tracking-tight text-xl sm:text-2xl font-semibold mb-2"
          >
            Deportes
          </h3>
          <p class="text-pretty text-center tracking-tight">
            Más de 30 deportes y más de 1.000 eventos diarios
          </p>
        </div>
      </div>

      <!-- Casino -->
      <div
        class="flex flex-wrap w-full sm:w-1/2 h-auto py-10 px-5 border rounded-xl border-t-2 border-slate-800 bg-gradient-to-t from-black/60 to-slate-950 focus:outline-none focus:border-[#f0f3ff]"
      >
        <div class="flex flex-col justify-center items-center mx-auto">
          <img
            src="/sports/casino.svg"
            alt="Icono de Sports"
            width="56"
            height="56"
            loading="lazy"
          />
          <h3
            class="inline-flex mx-auto text-center tracking-tight text-xl sm:text-2xl font-semibold mb-2"
          >
            Casino
          </h3>
          <p class="text-pretty text-center tracking-tight">
            Más de 1.000 juegos de casino disponibles
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Mejores Deportes -->
  <div class="flex flex-col w-full mx-auto space-y-10">
    <h2
      class="text-center text-2xl text-balance tracking-tight uppercase sm:text-4xl font-bold"
    >
      DEPORTES MÁS APOSTADOS EN {info.name}
    </h2>
    <div
      class="flex flex-wrap sm:flex-nowrap w-full justify-center items-center sm:divide-x-2 mx-auto h-auto space-y-5 sm:space-y-0 py-10 px-5 border gap-5 rounded-xl border-t-2 border-slate-800 bg-gradient-to-t from-black/60 to-slate-950 focus:outline-none focus:border-[#f0f3ff]"
    >
      <div
        class="flex flex-col w-1/2 sm:w-full justify-center items-center sm:pl-5 text-balance space-y-3"
      >
        <img
          src="/sports/futbol.svg"
          alt="Icono de Fútbol"
          width="56"
          height="56"
          loading="lazy"
        />
        <h3 class="text-center">Fútbol</h3>
      </div>
      <div
        class="flex flex-col w-1/2 sm:w-full justify-center items-center sm:pl-5 text-balance space-y-3"
      >
        <img
          src="/sports/basketball.svg"
          alt="Icono de Baloncesto"
          width="56"
          height="56"
          loading="lazy"
        />
        <h3 class="text-center">Baloncesto</h3>
      </div>
      <div
        class="flex flex-col grow w-1/3 sm:w-full justify-center items-center sm:pl-5 text-pretty space-y-3"
      >
        <img
          src="/sports/tennis.svg"
          alt="Icono de Tenis"
          width="56"
          height="56"
          loading="lazy"
        />
        <h3 class="text-center">Tenis</h3>
      </div>
      <div
        class="flex flex-col grow w-1/3 sm:w-full justify-center items-center sm:pl-5 text-pretty space-y-3"
      >
        <img
          src="/sports/hockey.svg"
          alt="Icono de Hockey"
          width="44"
          height="44"
          loading="lazy"
        />
        <h3 class="text-center">Hockey</h3>
      </div>
    </div>
  </div>

  <!-- Cuotas o momios -->
  <div class="space-y-10">
    <div class="w-full flex flex-col justify-start items-start text-start">
      <div class="space-y-3">
        <p class="tracking-tight text-pretty">
          <strong>{info.name}</strong> destaca entre las casas de apuestas por su
          excepcional diversidad de deportes, constituyendo una verdadera joya en
          su repertorio. A diferencia de muchas plataformas que se concentran únicamente
          en eventos deportivos populares, <strong>{info.name}</strong> va más allá
          al presentar una amplia gama que incluye disciplinas como dardos y snooker.
        </p>
        <p class="tracking-tight text-pretty">
          Esta variedad no solo enriquece la experiencia del usuario, sino que
          también proporciona la oportunidad de realizar apuestas más precisas,
          mejorando significativamente las posibilidades de ganar.
        </p>
        <p class="tracking-tight text-pretty">
          Con <strong>{info.name}</strong>, la elección es tuya, ya que puedes
          seleccionar entre una extensa variedad de opciones para cada partido,
          permitiéndote personalizar tu enfoque de apuestas de acuerdo a tus
          preferencias y conocimientos.
        </p>
      </div>
    </div>

    <div class="flex flex-col w-full mx-auto">
      <h3 class="font-semibold text-balance tracking-tight uppercase text-lg">
        CUOTAS O MOMIOS EN {info.name}
      </h3>
      <div class="space-y-2">
        <p class="text-pretty tracking-tight">
          Las cuotas de <strong>{info.name}</strong> son uno de sus puntos fuertes,
          destacando por encima de la competencia en diversos aspectos. En primer
          lugar, la casa de apuestas ofrece un margen de beneficio medio inferior
          a la mayoría, lo que se traduce en cuotas más atractivas para el apostante.
          Este margen varía según el deporte, evento y tipo de apuesta, pero generalmente
          se sitúa en torno al 5-7%.
        </p>
        <p class="text-pretty tracking-tight">
          Además, <strong>{info.name}</strong> se caracteriza por ofrecer cuotas
          muy competitivas en eventos favoritos, aumentando las posibilidades de
          obtener ganancias considerables. En algunos casos, las cuotas para estos
          eventos pueden ser hasta un 10% más altas que en otras casas de apuestas.
        </p>
        <p class="text-pretty tracking-tight">
          Actualmente, <strong>{info.name}</strong> ofrece 6 formatos de cuotas:
        </p>
        <ul class="list-disc list-inside tracking-tight">
          <li>Estadounidense</li>
          <li>Inglesa</li>
          <li>Decimal</li>
          <li>Hongkonesa</li>
          <li>Indonesio</li>
          <li>Malayo</li>
        </ul>
      </div>
    </div>
  </div>
</section>
