---
import StarRating from "../../../components/icons/StarRating.astro";
import { CountUp } from "../../../components/reviews/CountUp";
import Check from "../../icons/Check.astro";
import Equis from "../../icons/Equis.astro";

const { ...info } = Astro.props;
---

<>
  <!-- Stadistics -->
  <section
    id="detalle"
    class="mt-5 mb-10 flex flex-col w-full mx-auto space-y-10 text-[#f0f3ff] text-opacity-90"
  >

    <picture class="flex flex-row item-center justify-center">
      <img src="/operators/nobg/betwinner.svg" 
      width="130" 
      height="50"
      decoding="async" 
      loading="eager"
      alt={`Logo de la casa de apuestas ${info.name}`}
      title={`Logo de la casa de apuestas ${info.name}`}
      class="rounded-lg w-72 md:w-96 h-auto my-10" />
    </picture>

    <div
      class="flex flex-wrap sm:flex-nowrap w-full justify-center items-center sm:divide-x-2 h-auto space-y-5 sm:space-y-0 py-10 px-2 border gap-1 rounded-xl border-t-2 border-slate-800 bg-gradient-to-t from-black/60 to-slate-950 focus:outline-none focus:border-[#f0f3ff]"
    >
      <div class="flex flex-col grow w-full items-center text-balance space-y-3">
        <CountUp client:visible initial={0} final={1000}/>
        <p class="text-lg sm:text-xl text-center tracking-tight">
          Eventos diarios
        </p>
      </div>
      <div
        class="flex flex-col grow w-1/4 sm:w-full justify-center items-center pl-5 text-balance space-y-3"
      >
        <CountUp client:visible initial={0} final={6} showPlusSign={false} />
        <p class="text-lg sm:text-xl text-center tracking-tight">
          Formatos de cuotas
        </p>
      </div>
      <div
        class="flex flex-col grow w-1/4 sm:w-full justify-center items-center pl-5 text-balance space-y-3"
      >
      <CountUp client:visible initial={0} final={30} />
      <p class="text-lg sm:text-xl text-center tracking-tight">
        Diferentes deportes
      </p>
      </div>
      <div
        class="flex flex-col grow w-1/4 sm:w-full justify-center items-center pl-0 sm:pl-5 text-balance space-y-3"
      >
        <CountUp client:visible initial={0} final={30} />
        <p class="text-lg sm:text-xl text-center tracking-tight">
          Métodos de pago
        </p>
      </div>
    </div>

    <!-- Apps -->
    <div class="flex flex-row justify-center items-center flex-wrap">
      {
        info.apps.map(
          (app: {
            android: string | null | undefined;
            ios: string | null | undefined;
            webapp: string | null | undefined;
            nameandroid: string | null | undefined;
            nameios: string | null | undefined;
            nameweb: string | null | undefined;
          }) => (
            <div class="flex flex-row justify-start items-center gap-2">
              {app.android && (
                <img src={app.android} alt="Android" title="Android" width="16" height="16" decoding="async" loading="eager" />
                <p>{app.nameandroid}</p>
              )}
              {app.ios && (
                <img src={app.ios} alt="iOS" title="iOS" width="16" height="16" decoding="async" loading="eager" />
                <p>{app.nameios}</p>
              )}
              {app.webapp && (
                <img src={app.webapp} alt="WebApp" title="WebApp" width="16" height="16" decoding="async" loading="eager" />
                <p>{app.nameweb}</p>
              )}
            </div>
          )
        )
      }
    </div>

    <!-- Why choose this Operator? -->
    <section
      class="my-14 flex flex-col w-full space-y-3"
    >
      <div class="flex flex-wrap justify-start items-end w-full gap-2">
        <h2
          class="uppercase text-xl text-balance tracking-tight font-bold"
        >
          ¿Por qué elegir {info.name}?
        </h2>
        <div class="flex flex-row justify-center items-end">
          <StarRating w={"22"} h={"26"} />
          <p class="text-end">{info.rating}</p>
        </div>
      </div>
      <p class="text-pretty tracking-tight">
        En el vasto universo de las apuestas deportivas en línea, <strong>{info.name}</strong> se erige como una opción destacada que va más allá de las expectativas convencionales. Desde una increíble diversidad de deportes hasta increíbles promociones y métodos de pago convenientes, esta casa de apuesta ha conquistado la atención de los entusiastas del juego en todo el mundo.
      </p>
      <p class="text-pretty tracking-tight">
        Una de las grandes razones para escoger <strong>{info.name}</strong> es su amplia gama de deportes y eventos. Olvídate de las limitaciones porque <strong>{info.name}</strong> te ofrece una selección inigualable de deportes para apostar, desde fútbol y baloncesto hasta deportes electrónicos y artes marciales. No importa tu pasión deportiva, la encontrarás aquí.</p>
      <p class="text-pretty tracking-tight">
        Al elegir <strong>{info.name}</strong>, no solo te sumerges en la emoción del juego, sino que también te unes a una comunidad donde la variedad y la excelencia se encuentran en cada apuesta.
      </p>
      <p class="text-pretty tracking-tight">
        A continuación, exploraremos las razones por las cuales <strong>{info.name}</strong> merece ser tu elección predilecta.
      </p>
      <p class="text-pretty tracking-tight">
        ¡Ah! Y recuerda usar el código promocional <strong>{info.promocode}</strong> para 
        obtener un <strong>adicional</strong> en tu depósito.
      </p>
    </section>

    <!-- Advantage and Disadvantages -->
    <section
      class="my-14 flex flex-row flex-wrap sm:flex-nowrap w-full mx-auto gap-10"
    >
      <div
        class="flex flex-wrap flex-col w-full sm:w-1/2 h-auto py-10 px-5 border rounded-xl border-t-2 border-slate-800 bg-gradient-to-t from-black/60 to-slate-950 focus:outline-none focus:border-[#f0f3ff]"
      >
        <h3
          class="inline-flex mx-auto text-center text-balance tracking-tight text-2xl font-semibold mb-2"
        >
          Ventajas de {info.name}
        </h3>
        <div>
          <ul
            class="list-inside tracking-tight text-pretty space-y-2"
          >
            <li class="flex flex-row gap-2"><Check /> Ofrece estadísticas y resultados</li>
            <li class="flex flex-row gap-2"><Check /> Variedad de bonos y promociones</li>
            <li class="flex flex-row gap-2"><Check /> Constructor de Apuestas</li>
            <li class="flex flex-row gap-2"><Check /> Disponen de Cash Out</li>
            <li class="flex flex-row gap-2"><Check /> Apuestas en directo y multidirecto</li>
            <li class="flex flex-row gap-2"><Check /> Aplicación móvil</li>
          </ul>
        </div>
      </div>
      <div
        class="flex flex-wrap flex-col w-full sm:w-1/2 h-auto py-10 px-5 border rounded-xl border-t-2 border-slate-800 bg-gradient-to-t from-black/60 to-slate-950 focus:outline-none focus:border-[#f0f3ff]"
      >
        <h3
          class="inline-flex mx-auto text-center text-balance tracking-tight text-2xl font-semibold mb-2"
        >
          Desventajas de {info.name}
        </h3>
        <div>
          <ul
            class="list-inside tracking-tight text-pretty space-y-2"
          >
          <li class="flex flex-row gap-2"><Equis />El diseño web general podría ser más atractivo</li>
          </ul>
        </div>
      </div>
    </section>
  </section>
</>
