---
import PromoCode from "../../reviews/PromoCodeReview";

const { ...info } = Astro.props;
---

<>
  <!-- ¡Aumenta tus ganancias! -->
  <section
    id="promociones"
    class="my-20 flex flex-col w-full mx-auto space-y-5 text-[#f0f3ff] text-opacity-90"
  >
    <h2
      class="text-center text-2xl text-pretty tracking-tight uppercase sm:text-4xl font-bold text-[#f0f3ff] text-opacity-90 mb-3"
    >
      ¿CÓMO AUMENTAR TUS GANANCIAS EN {info.name}?
    </h2>
    <article class="flex flex-row flex-wrap sm:flex-nowrap w-full gap-10">
      <div
        class="relative overflow-hidden w-full sm:w-1/2 h-auto rounded-xl border border-slate-800 p-[1px] backdrop-blur-3xl"
      >
        <span
          class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#E2CBFF_0%,#393BB2_50%,#E2CBFF_100%)]"
        ></span>
        <div
          class="inline-flex h-full w-full items-center justify-center rounded-xl bg-slate-950 py-5 px-5 text-sm font-medium backdrop-blur-3xl"
        >
          <div
            class="flex flex-col justify-center items-center mx-auto p-4 space-y-3"
          >
            <h3
              class="inline-flex underline text-balance underline-offset-8 text-center tracking-tight text-xl font-semibold"
            >
              Código Promocional
            </h3>
            <p class="text-pretty text-center p-2 tracking-tight">
              Ingresa este código Promocional para obtener un adicional en tu
              depósito. No dejes pasar la oportunidad de mejorar tu experiencia
              de juego y aumentar tus fondos.
            </p>
            <PromoCode {...info} client:idle />
          </div>
        </div>
      </div>
      <div
        class="relative overflow-hidden w-full sm:w-1/2 h-auto rounded-xl border border-slate-800 p-[1px] backdrop-blur-3xl"
      >
        <span
          class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#E2CBFF_0%,#393BB2_50%,#E2CBFF_100%)]"
        ></span>
        <div
          class="inline-flex h-full w-full items-center justify-center rounded-xl bg-slate-950 py-10 px-5 text-sm font-medium backdrop-blur-3xl"
        >
          <div
            class="flex flex-col justify-center items-center mx-auto p-4 space-y-3"
          >
            <h3
              class="inline-flex text-balance underline underline-offset-8 text-center tracking-tight text-xl font-semibold"
            >
              Bono de Bienvenida
            </h3>
            <p class="text-pretty text-center tracking-tight">
              ¡<a
                href={info.urlregistro}
                target="_blank"
                rel="external noopener noreferrer nofollow"
                class="underline hover:text-gray-400">Regístrese ahora</a
              > y reciba una {info.bonotxt}!
            </p>
            <p class="text-pretty text-center tracking-tight">
              Puede estar sujeta a cambios. Revisa los términos y condiciones.
            </p>
          </div>
        </div>
      </div>
    </article>
    <div class="w-full flex flex-col justify-start items-start text-start">
      <div class="space-y-3 mt-5">
        <p class="tracking-tight text-pretty">
          <span
            class="inline-flex font-semibold underline underline-offset-4 mb-1"
          >
            IMPORTANTE:
          </span>
          <br />
          Al momento de registrarse, deberás de ingresar el Código Promocional <strong
            >{info.promocode}</strong
          > antes de finalizar el registro.
        </p>
        <p class="tracking-tight text-pretty">
          Luego del registro, deberás realizar tu primer depósito. El Bono de
          Bienvenida del 100% lo recibirás automáticamente a este punto. Sin
          embargo, si no lo recibes, debes ponerte en contacto con el soporte.
        </p>
      </div>
    </div>

    <p class="text-balance tracking-tight text-lg">
      <strong>{info.name}</strong> ofrece gran variedad de promociones, aquí te mencionamos
      alguna de ellas:
    </p>

    <!-- BONIFICACIÓN DE DEPÓSITO DEL 100% TODOS LOS JUEVES -->
    <article class="flex flex-col w-full mx-auto">
      <h3 class="font-semibold text-balance tracking-tight text-lg">
        BONIFICACIÓN DE DEPÓSITO DEL 100% TODOS LOS JUEVES
      </h3>
      <div class="space-y-2">
        <p class="text-pretty tracking-tight">
          Cada jueves, desde las 00:00 hasta las 23:59, al realizar un depósito
          de 10 EUR o más, disfrutarás de un generoso bono del 100%. El valor
          máximo de este bono corresponderá al 100% del monto depositado,
          alcanzando un tope de 100 EUR. Es importante destacar que cada cliente
          tiene derecho a recibir únicamente un bono en cada ocasión.
        </p>
      </div>
    </article>

    <!-- BONIFICACIÓN POR UNA SERIE DE APUESTAS PERDIDAS -->
    <article>
      <h3 class="font-semibold text-balance tracking-tight text-lg">
        BONIFICACIÓN POR UNA SERIE DE APUESTAS PERDIDAS
      </h3>
      <div class="space-y-2">
        <p class="text-pretty tracking-tight">
          <strong>{info.name}</strong> demuestra su respaldo a los jugadores durante
          momentos desafiantes al ofrecer una bonificación por una serie de apuestas
          perdidas.
        </p>
      </div>
    </article>

    <!-- BET AND WIN -->
    <article>
      <h3 class="font-semibold text-balance tracking-tight text-lg">
        BET AND WIN
      </h3>
      <div class="space-y-2">
        <p class="text-pretty tracking-tight">
          Los participantes recibirán códigos promocionales para apuestas
          gratuitas después de acumular participaciones durante 6, 16, 18, 25 y
          30 días consecutivos. Estos códigos deben utilizarse en un plazo de 7
          días desde su recepción. Si se omite un día, se perderá el progreso,
          pero se brinda la oportunidad de reiniciar el conteo. La dinámica
          fomenta la participación activa y continua durante el periodo de 30
          días.
        </p>
      </div>
    </article>

    <!-- REEMBOLSO EN DEPORTES -->
    <article>
      <h3 class="font-semibold text-balance tracking-tight text-lg">
        REEMBOLSO EN DEPORTES
      </h3>
      <div class="space-y-2">
        <p class="text-pretty tracking-tight">
          En la promoción "Reembolso en deportes", los participantes tienen la
          oportunidad de obtener una recompensa por las pérdidas sufridas en
          apuestas deportivas durante la semana.
        </p>
      </div>
    </article>

    <p class="text-pretty tracking-tight">
      Leer más acerca de las
      <a
        href={info.urlpromo}
        target="_blank"
        rel="external noopener noreferrer nofollow"
        class="underline hover:text-gray-400"
        aria-label="Ir a la pagina de promociones"
        >promociones de <strong>{info.name}</strong>
      </a>
    </p>
  </section>
</>
