---
import Layout from "../layout/Layout.astro";
import { operators } from "../lib/data";
import HeaderReview from "../components/reviews/HeaderReview";
import Detalles from "../components/operators/1xbet/Detalles.astro";
import Promociones from "../components/operators/1xbet/Promociones.astro";
import Pagos from "../components/operators/1xbet/Pagos.astro";
import Deportes from "../components/operators/1xbet/Deportes.astro";
import Soporte from "../components/operators/1xbet/Soporte.astro";

const operator = operators.find((operator) => operator.pageName === "1xbet")!;
if (!operator) return Astro.redirect("/404");

const { ...info } = operator;

const title = `Reseña de la casa de apuestas ${info.name}`;
const description = `${info.name}, casa de apuesta con amplia variedad de deportes, mercados, bonos y promociones, plataforma segura y métodos de retiro y depósito rápidos.`;
const canonicalUrl = "https://micasadeapuesta.com/1xbet/";
---

<Layout title={title} description={description} canonicalUrl={canonicalUrl}>
  <>
    <!-- Header Review -->
    <HeaderReview {...info} client:load />

    <!-- Content -->
    <main class="max-w-screen-lg px-4">
      <Detalles {...info} />
      <Promociones {...info} />
      <Pagos {...info} />
      <Deportes {...info} />
    </main>

    <!-- Footer -->
    <footer class="max-w-screen-lg px-4">
      <Soporte {...info} />
    </footer>
  </>
</Layout>
