---
import Layout from "../layout/layout.astro";
import { operators } from "../lib/data";
import NavOperator from "../components/navbar/NavOperator.astro";
import Detalles from "../components/operators/1xbet/Detalles.astro";
import Promociones from "../components/operators/1xbet/Promociones.astro";
import Pagos from "../components/operators/1xbet/Pagos.astro";
import Deportes from "../components/operators/1xbet/Deportes.astro";
import Soporte from "../components/operators/1xbet/Soporte.astro";

const operator = operators.find((operator) => operator.pageName === "1xbet")!;

const title = `Reseña de la casa de apuestas ${operator.name}`;
const description = `${operator.name}, casa de apuestas con una amplia variedad de deportes, mercados, bonos y promociones, métodos de retiro y depósito rápidos.`;
const canonicalUrl = "https://micasadeapuesta.com/1xbet/";
---

<Layout title={title} description={description} canonicalUrl={canonicalUrl}>
  <>
    <!-- Header Review -->
    <NavOperator {...operator} />

    <!-- Content -->
    <main class="max-w-screen-lg px-4">
      <Detalles {...operator} />
      <Promociones {...operator} />
      <Pagos {...operator} />
      <Deportes {...operator} />
    </main>

    <!-- Footer -->
    <footer class="max-w-screen-lg px-4">
      <Soporte {...operator} />
    </footer>
  </>
</Layout>
