---
import Layout from "../layout/layout.astro";
import { operators } from "../lib/data";
import NavOperator from "../components/navbar/NavOperator.astro";
import Detalles from "../components/operators/bcgame/Detalles.astro";
import Promociones from "../components/operators/bcgame/Promociones.astro";
import Pagos from "../components/operators/bcgame/Pagos.astro";
import Deportes from "../components/operators/bcgame/Deportes.astro";
import Soporte from "../components/operators/bcgame/Soporte.astro";

const operator = operators.find((operator) => operator.pageName === "bcgame")!;

const title = `Reseña de la casa de apuestas ${operator.name}`;
const description = `${operator.name}, plataforma de apuestas deportiva completa y segura con una amplia variedad de juegos, Casino, Tragamonedas y más.`;
const canonicalUrl = "https://micasadeapuesta.com/bcgame/";
---

<Layout title={title} description={description} canonicalUrl={canonicalUrl}>
  <>
    <!-- Header Review -->
    <NavOperator {...operator} />

    <!-- Content -->
    <main class="max-w-screen-lg px-4">
      <Detalles {...operator} />
      <Promociones {...operator} />
      <Pagos {...operator} />
      <Deportes {...operator} />
    </main>

    <!-- Footer -->
    <footer class="max-w-screen-lg px-4">
      <Soporte {...operator} />
    </footer>
  </>
</Layout>
