---
import Layout from "../layout/layout.astro";
import { operators } from "../lib/data";
import NavOperator from "../components/navbar/NavOperator.astro";
import Detalles from "../components/operators/betobet/Detalles.astro";
import Promociones from "../components/operators/betobet/Promociones.astro";
import Pagos from "../components/operators/betobet/Pagos.astro";
import Deportes from "../components/operators/betobet/Deportes.astro";
import Soporte from "../components/operators/betobet/Soporte.astro";

const operator = operators.find((operator) => operator.pageName === "betobet")!;

const title = `Reseña de la casa de apuestas ${operator.name}`;
const description = `${operator.name}, apuestas deportivas con cuotas competitivas, confiables y emocionantes. ¡Vive la emoción del juego y apuesta como un PRO!`;
const canonicalUrl = "https://micasadeapuesta.com/betobet/";
---

<Layout title={title} description={description} canonicalUrl={canonicalUrl}>
  <>
    <!-- Header Review -->
    <NavOperator {...operator} />

    <!-- Content -->
    <main class="max-w-screen-lg px-4">
      <Detalles {...operator} />
      <Promociones {...operator} />
      <Pagos {...operator} />
      <Deportes {...operator} />
    </main>

    <!-- Footer -->
    <footer class="max-w-screen-lg px-4">
      <Soporte {...operator} />
    </footer>
  </>
</Layout>
