---
import Layout from "../layout/Layout.astro";
import { operators } from "../lib/data";
import HeaderReview from "../components/reviews/HeaderReview";
import Detalles from "../components/operators/betway/Detalles.astro";
import Promociones from "../components/operators/betway/Promociones.astro";
import Pagos from "../components/operators/betway/Pagos.astro";
import Deportes from "../components/operators/betway/Deportes.astro";
import Soporte from "../components/operators/betway/Soporte.astro";

const operator = operators.find((operator) => operator.pageName === "betway")!;

const title = `Reseña de la casa de apuestas ${operator.name}`;
const description = `${operator.name}, donde la emoción y las apuestas deportivas se fusionan. Variedad bonos y promociones. ¡Vive la emoción en cada apuesta!`;
const canonicalUrl = "https://micasadeapuesta.com/betway/";
---

<Layout title={title} description={description} canonicalUrl={canonicalUrl}>
  <>
    <!-- Header Review -->
    <HeaderReview {...operator} client:load />

    <!-- Content -->
    <main class="max-w-screen-lg px-4">
      <Detalles {...operator} />
      <Promociones {...operator} />
      <Pagos {...operator} />
      <Deportes {...operator} />
    </main>

    <!-- Footer -->
    <footer class="max-w-screen-lg px-4">
      <Soporte {...operator} />
    </footer>
  </>
</Layout>
