---
import Layout from "../layout/Layout.astro";
import { operators } from "../lib/data";
import HeaderReview from "../components/reviews/HeaderReview";
import Detalles from "../components/operators/betwinner/Detalles.astro";
import Promociones from "../components/operators/betwinner/Promociones.astro";
import Pagos from "../components/operators/betwinner/Pagos.astro";
import Deportes from "../components/operators/betwinner/Deportes.astro";
import Soporte from "../components/operators/betwinner/Soporte.astro";

const operator = operators.find(
  (operator) => operator.pageName === "betwinner"
)!;

const title = `Reseña de la casa de apuestas ${operator.name}`;
const description = `${operator.name}, redefine la emoción deportiva con sus increíbles promociones y bonos excepcionales. ¡Vive el deporte como nunca antes!`;
const canonicalUrl = "https://micasadeapuesta.com/betwinner/";
---

<Layout title={title} description={description} canonicalUrl={canonicalUrl}>
  <>
    <!-- Header Review -->
    <HeaderReview {...operator} client:load />

    <!-- Content -->
    <main class="max-w-screen-lg px-4">
      <Detalles {...operator} />
      <Promociones {...operator} />
      <Pagos {...operator} />
      <Deportes {...operator} />
    </main>

    <!-- Footer -->
    <footer class="max-w-screen-lg px-4">
      <Soporte {...operator} />
    </footer>
  </>
</Layout>
