---
import Layout from "../layout/layout.astro";
import { operators } from "../lib/data";
import HeaderReview from "../components/reviews/HeaderReview";
import Detalles from "../components/operators/fezbet/Detalles.astro";
import Promociones from "../components/operators/fezbet/Promociones.astro";
import Pagos from "../components/operators/fezbet/Pagos.astro";
import Deportes from "../components/operators/fezbet/Deportes.astro";
import Soporte from "../components/operators/fezbet/Soporte.astro";

const operator = operators.find((operator) => operator.pageName === "fezbet")!;

const title = `Reseña de la casa de apuestas ${operator.name}`;
const description = `${operator.name}, donde las apuestas deportivas se mezclan con la emoción del casino. ¡Gana mientras disfrutas tus juegos favoritos!`;
const canonicalUrl = "https://micasadeapuesta.com/fezbet/";
---

<Layout title={title} description={description} canonicalUrl={canonicalUrl}>
  <>
    <!-- Header Review -->
    <HeaderReview {...operator} client:load />

    <!-- Content -->
    <main class="max-w-screen-lg px-4">
      <Detalles {...operator} />
      <Promociones {...operator} />
      <Pagos {...operator} />
      <Deportes {...operator} />
    </main>

    <!-- Footer -->
    <footer class="max-w-screen-lg px-4">
      <Soporte {...operator} />
    </footer>
  </>
</Layout>
