---
import Layout from "../layout/layout.astro";
import { operators } from "../lib/data";
import HeaderReview from "../components/reviews/HeaderReview";
import Detalles from "../components/operators/pinnacle/Detalles.astro";
import Promociones from "../components/operators/pinnacle/Promociones.astro";
import Pagos from "../components/operators/pinnacle/Pagos.astro";
import Deportes from "../components/operators/pinnacle/Deportes.astro";
import Soporte from "../components/operators/pinnacle/Soporte.astro";

const operator = operators.find(
  (operator) => operator.pageName === "pinnacle"
)!;

const title = `Reseña de la casa de apuestas ${operator.name}`;
const description = `${operator.name}, la casa de apuestas pionera en esports con cuotas competitivas, amplia variedad de deportes, mercados, y plataforma segura.`;
const canonicalUrl = "https://micasadeapuesta.com/pinnacle/";
---

<Layout title={title} description={description} canonicalUrl={canonicalUrl}>
  <>
    <!-- Header Review -->
    <HeaderReview {...operator} client:load />

    <!-- Content -->
    <main class="max-w-screen-lg px-4">
      <Detalles {...operator} />
      <Promociones {...operator} />
      <Pagos {...operator} />
      <Deportes {...operator} />
    </main>

    <!-- Footer -->
    <footer class="max-w-screen-lg px-4">
      <Soporte {...operator} />
    </footer>
  </>
</Layout>
