---
import Layout from "../layout/layout.astro";
import { operators } from "../lib/data";
import HeaderReview from "../components/reviews/HeaderReview";
import Detalles from "../components/operators/rabona/Detalles.astro";
import Promociones from "../components/operators/rabona/Promociones.astro";
import Pagos from "../components/operators/rabona/Pagos.astro";
import Deportes from "../components/operators/rabona/Deportes.astro";
import Soporte from "../components/operators/rabona/Soporte.astro";

const operator = operators.find((operator) => operator.pageName === "rabona")!;

const title = `Reseña de la casa de apuestas ${operator.name}`;
const description = `${operator.name}, casa de apuestas con diseño atractivo, seguridad garantizada, amplia variedad de deportes y promociones innovadoras.`;
const canonicalUrl = "https://micasadeapuesta.com/rabona/";
---

<Layout title={title} description={description} canonicalUrl={canonicalUrl}>
  <>
    <!-- Header Review -->
    <HeaderReview {...operator} client:load />

    <!-- Content -->
    <main class="max-w-screen-lg px-4">
      <Detalles {...operator} />
      <Promociones {...operator} />
      <Pagos {...operator} />
      <Deportes {...operator} />
    </main>

    <!-- Footer -->
    <footer class="max-w-screen-lg px-4">
      <Soporte {...operator} />
    </footer>
  </>
</Layout>
