---
import Layout from "../layout/Layout.astro";
import { operators } from "../lib/data";
import HeaderReview from "../components/reviews/HeaderReview";
import Detalles from "../components/operators/sportsbet/Detalles.astro";
import Promociones from "../components/operators/sportsbet/Promociones.astro";
import Pagos from "../components/operators/sportsbet/Pagos.astro";
import Deportes from "../components/operators/sportsbet/Deportes.astro";
import Soporte from "../components/operators/sportsbet/Soporte.astro";

const operator = operators.find(
  (operator) => operator.pageName === "sportsbet"
)!;

const title = `Reseña de la casa de apuestas ${operator.name}`;
const description = `${operator.name}, las mejores cuotas en apuestas deportivas con criptomonedas. ¡Aprovecha las promociones y disfruta de retiros rápidos!`;
const canonicalUrl = "https://micasadeapuesta.com/sportsbet/";
---

<Layout title={title} description={description} canonicalUrl={canonicalUrl}>
  <>
    <!-- Header Review -->
    <HeaderReview {...operator} client:load />

    <!-- Content -->
    <main class="max-w-screen-lg px-4">
      <Detalles {...operator} />
      <Promociones {...operator} />
      <Pagos {...operator} />
      <Deportes {...operator} />
    </main>

    <!-- Footer -->
    <footer class="max-w-screen-lg px-4">
      <Soporte {...operator} />
    </footer>
  </>
</Layout>
