---
import Layout from "../layouts/layout.astro";
import { operators } from "../lib/data";
import NavOperator from "../components/navbar/NavOperator.astro";
import Detalles from "../components/operators/stake/Detalles.astro";
import Promociones from "../components/operators/stake/Promociones.astro";
import Pagos from "../components/operators/stake/Pagos.astro";
import Deportes from "../components/operators/stake/Deportes.astro";
import Soporte from "../components/operators/stake/Soporte.astro";

const operator = operators.find((operator) => operator.pageName === "stake")!;

const title = `Reseña de la casa de apuestas ${operator.name}`;
const description = `${operator.name}, potencia tus ganancias, obtén ingresos pasivos, participa y confía en una experiencia de apuestas emocionante.`;
const canonicalUrl = "https://micasadeapuesta.com/stake/";
---

<Layout title={title} description={description} canonicalUrl={canonicalUrl}>
  <>
    <!-- Header Review -->
    <NavOperator {...operator} />

    <!-- Content -->
    <main class="max-w-screen-lg px-4">
      <Detalles {...operator} />
      <Promociones {...operator} />
      <Pagos {...operator} />
      <Deportes {...operator} />
    </main>

    <!-- Footer -->
    <footer class="max-w-screen-lg px-4">
      <Soporte {...operator} />
    </footer>
  </>
</Layout>
