---
import StarRating from "../../../components/icons/StarRating.astro";
import { CountUp } from "../../../components/reviews/CountUp";
import Check from "../../icons/Check.astro";
import Equis from "../../icons/Equis.astro";

const { ...info } = Astro.props;
---

<>
  <!-- Stadistics -->
  <section
    id="detalle"
    class="my-20 flex flex-col w-full mx-auto space-y-12 text-[#f0f3ff] text-opacity-90"
  >

    <picture class="flex flex-row item-center justify-center">
      <img src="/operators/nobg/bc-game.svg" 
      width="130" 
      height="50"
      loading="eager" 
      alt={`Logo de la casa de apuestas ${info.name}`}
      title={`Logo de la casa de apuestas ${info.name}`}
      class="rounded-lg w-72 md:w-96 h-auto my-10" />
    </picture>

    <div
      class="flex flex-wrap sm:flex-nowrap w-full justify-center items-center sm:divide-x-2 h-auto space-y-5 sm:space-y-0 py-10 px-2 border gap-1 rounded-xl border-t-2 border-slate-800 bg-gradient-to-t from-black/60 to-slate-950 focus:outline-none focus:border-[#f0f3ff]"
    >
      <div class="flex flex-col grow w-full items-center text-balance space-y-3">
        <CountUp client:visible initial={0} final={2000}/>
        <p class="text-lg sm:text-xl text-center tracking-tight">
          Eventos diarios
        </p>
      </div>
      <div
        class="flex flex-col grow w-1/4 sm:w-full justify-center items-center pl-5 text-balance space-y-3"
      >
        <CountUp client:visible initial={0} final={5} showPlusSign={false} />
        <p class="text-lg sm:text-xl text-center tracking-tight">
          Formatos de cuotas
        </p>
      </div>
      <div
        class="flex flex-col grow w-1/4 sm:w-full justify-center items-center pl-5 text-balance space-y-3"
      >
      <CountUp client:visible initial={0} final={30} />
      <p class="text-lg sm:text-xl text-center tracking-tight">
        Diferentes deportes
      </p>
      </div>
      <div
        class="flex flex-col grow w-1/4 sm:w-full justify-center items-center pl-0 sm:pl-5 text-balance space-y-3"
      >
        <CountUp client:visible initial={0} final={20} />
        <p class="text-lg sm:text-xl text-center tracking-tight">
          Métodos de pago
        </p>
      </div>
    </div>

    <!-- Apps -->
    <div class="flex flex-row justify-center items-center flex-wrap">
      {
        info.apps.map(
          (app: {
            android: string | null | undefined;
            ios: string | null | undefined;
            webapp: string | null | undefined;
            nameandroid: string | null | undefined;
            nameios: string | null | undefined;
            nameweb: string | null | undefined;
          }) => (
            <div class="flex flex-row justify-start items-center gap-2">
              {app.android && (
                <img src={app.android} alt="Android" title="Android" width="16" height="16" />
                <p>{app.nameandroid}</p>
              )}
              {app.ios && (
                <img src={app.ios} alt="iOS" title="iOS" width="16" height="16" />
                <p>{app.nameios}</p>
              )}
              {app.webapp && (
                <img src={app.webapp} alt="WebApp" title="WebApp" width="16" height="16" />
                <p>{app.nameweb}</p>
              )}
            </div>
          )
        )
      }
    </div>

    <!-- Why choose this Operator? -->
    <section
      class="my-14 flex flex-col w-full space-y-3"
    >
      <div class="flex flex-wrap justify-start items-end w-full gap-2">
        <h2
          class="uppercase text-xl text-balance tracking-tight font-bold"
        >
          ¿Por qué elegir {info.name}?
        </h2>
        <div class="flex flex-row justify-center items-end">
          <StarRating w={"22"} h={"26"} />
          <p class="text-end">{info.rating}</p>
        </div>
      </div>
      <p class="text-pretty tracking-tight">
        <strong>{info.name}</strong> es considerada una de las mejores plataformas de apuestas en la actualidad. Este criptocasino y site de juegos de azar, establecido en 2017, cuenta con licencias oficiales para operar globalmente, respaldando así un sistema de apuestas deportivas seguras y confiables. La seguridad está garantizada mediante el uso de software SSL y un riguroso proceso de verificación de tres pasos. 
      </p>
      <p class="text-pretty tracking-tight">
        La versatilidad de <strong>{info.name}</strong> se refleja en su amplia gama de métodos de pago y la aceptación de numerosas criptomonedas, adaptándose a las preferencias de millones de jugadores en todo el mundo. Además, el sitio está disponible en varios idiomas, incluyendo alemán, árabe, inglés, francés, español, japonés, chino y ruso.
      </p>
      <p class="text-pretty tracking-tight">
        Su catálogo diverso ofrece variedad de ofertas en apuestas, desde boxeo hasta Fórmula 1, junto con pronósticos y eventos deportivos en vivo. También proporciona opciones adicionales como apuestas de hándicap alternativo, asiáticas, tenis de hándicap alternativo, tarjetas y córners.
      </p>
      <p class="text-pretty tracking-tight">
        Desde sus inicios, la casa de apuestas <strong>{info.name}</strong> ha mantenido una reputación destacada en el mercado del iGaming, gracias a bonificaciones especiales con cuotas atractivas, como el 93,56% en fútbol, 93,84% en baloncesto y 92,78% en tenis. Estos incentivos hacen que sea una opción atractiva para jugadores que buscan plataformas de apuestas estables, eficientes e innovadoras con un enfoque en la seguridad. 
      </p>
    </section>

    <!-- Advantage and Disadvantages -->
    <section
      class="my-14 flex flex-row flex-wrap sm:flex-nowrap w-full mx-auto gap-10"
    >
      <div
        class="flex flex-wrap flex-col w-full sm:w-1/2 h-auto py-10 px-5 border rounded-xl border-t-2 border-slate-800 bg-gradient-to-t from-black/60 to-slate-950 focus:outline-none focus:border-[#f0f3ff]"
      >
        <h3
          class="inline-flex mx-auto text-center text-balance tracking-tight text-2xl font-semibold mb-2"
        >
          Ventajas de {info.name}
        </h3>
        <div>
          <ul
            class="list-inside tracking-tight text-pretty space-y-2"
          >
            <li class="flex flex-row gap-2"><Check /> Variedad de criptomonedas</li>
            <li class="flex flex-row gap-2"><Check /> Excelente interfaz de usuario y gráficos</li>
            <li class="flex flex-row gap-2"><Check /> Tiene una comunidad activa de jugadores</li>
            <li class="flex flex-row gap-2"><Check /> Retiros y depósitos instantáneos</li>
            <li class="flex flex-row gap-2"><Check /> Amplia variedad de juegos deportivos</li>
          </ul>
        </div>
      </div>
      <div
        class="flex flex-wrap flex-col w-full sm:w-1/2 h-auto py-10 px-5 border rounded-xl border-t-2 border-slate-800 bg-gradient-to-t from-black/60 to-slate-950 focus:outline-none focus:border-[#f0f3ff]"
      >
        <h3
          class="inline-flex mx-auto text-center text-balance tracking-tight text-2xl font-semibold mb-2"
        >
          Desventajas de {info.name}
        </h3>
        <div>
          <ul
            class="list-inside tracking-tight text-pretty space-y-2"
          >
          <li class="flex flex-row gap-2"><Equis /> Para obtener la aplicación, es imprescindible acceder a la cuenta</li>
          </ul>
        </div>
      </div>
    </section>
  </section>
</>
