---
import StarRating from "../../components/icons/StarRating.astro";
import Android from "../../components/icons/Android.astro";
import IOS from "../../components/icons/IOS.astro";
import WebApp from "../../components/icons/WebApp.astro";

const { ...info } = Astro.props;
---

<>
  <!-- Stadistics -->
  <section
    id="detalle"
    class="my-8 flex flex-col max-w-screen-lg w-full p-4 mx-auto space-y-12 text-[#f0f3ff] text-opacity-90"
  >
    <h1
      class="inline-flex mx-auto uppercase animate-background-shine bg-[linear-gradient(110deg,#939393,45%,#f0f3ff,65%,#939393)] bg-[length:250%_100%] bg-clip-text text-transparent text-4xl sm:text-6xl font-semibold"
    >
      {info.name}
    </h1>
    <div
      class="flex flex-wrap sm:flex-nowrap w-full justify-center items-center sm:divide-x-2 mx-auto h-auto space-y-5 sm:space-y-0 py-10 px-5 border gap-5 rounded-xl border-t-2 border-slate-800 bg-gradient-to-t from-black/60 to-slate-950 focus:outline-none focus:border-[#f0f3ff]"
    >
      <div class="flex flex-col grow w-full items-center text-pretty space-y-3">
        <p class="text-4xl sm:text-5xl font-semibold">+70,000</p>
        <p class="text-lg sm:text-xl text-center font-light tracking-tight">
          Jugadores activos
        </p>
      </div>
      <div
        class="flex flex-col grow w-1/4 sm:w-full items-center pl-5 text-balance space-y-3"
      >
        <p class="text-4xl sm:text-5xl font-semibold">62</p>
        <p class="text-lg sm:text-xl text-center font-light tracking-tight">
          Países en cobertura
        </p>
      </div>
      <div
        class="flex flex-col grow w-1/4 sm:w-full items-center pl-5 text-pretty space-y-3"
      >
        <p class="text-4xl sm:text-5xl font-semibold">49</p>
        <p class="text-lg sm:text-xl text-center font-light tracking-tight">
          Idiomas soportados
        </p>
      </div>
      <div
        class="flex flex-col grow w-1/4 sm:w-full items-center pl-5 text-pretty space-y-3"
      >
        <p class="text-4xl sm:text-5xl font-semibold">160</p>
        <p class="text-lg sm:text-xl text-center font-light tracking-tight">
          Métodos de pago
        </p>
      </div>
    </div>
  </section>

  <!-- Why choose this Operator? -->
  <section
    class="flex flex-col max-w-screen-lg w-full p-4 space-y-2 text-[#f0f3ff] text-opacity-90"
  >
    <div class="flex flex-row justify-start items-end w-full gap-2">
      <h2
        class="uppercase text-xl text-pretty tracking-tight font-bold text-[#f0f3ff] text-opacity-90"
      >
        ¿Por qué {info.name}?
      </h2>
      <div class="flex flex-row justify-center items-end">
        <StarRating w={"22"} h={"26"} />
        <p class="text-end">
          {info.rating}
        </p>
      </div>
    </div>
    <p class="text-pretty tracking-tight font-light">
      Si te gusta el deporte, seguro has notado la presencia destacada de
      <strong>{info.name}</strong>. No solo es un gigante en la industria del
      juego, sino que también una opción intrigante en apuestas y casinos en
      línea. En <strong>micasadeapuesta.com</strong>, hemos examinado en detalle
      lo que hace única a esta plataforma. Revisa cada una de nuestras secciones
      en la reseña para tomar una desición informada y actualizada.
    </p>
    <p class="text-pretty tracking-tight font-light">
      Descubre una experiencia única de apuestas en
      <strong>{info.name}</strong>, donde en cada evento deportivo te espera la
      emoción de apostar en más de mil eventos deportivos y una amplia variedad
      de juegos.
    </p>
    <p class="text-pretty tracking-tight font-light">
      Si te gusta el deporte, seguro has notado la presencia destacada de
      <strong>{info.name}</strong>. No solo es un gigante en la industria del
      juego, sino que también una opción intrigante en apuestas y casinos en
      línea. En <strong>micasadeapuesta.com</strong>, hemos examinado en detalle
      lo que hace única a esta plataforma. Revisa cada una de nuestras secciones
      en la reseña para tomar una desición informada y actualizada.
    </p>
    <p class="text-pretty tracking-tight font-light">
      Descubre una experiencia única de apuestas en
      <strong>{info.name}</strong>, donde en cada evento deportivo te espera la
      emoción de apostar en más de mil eventos deportivos y una amplia variedad
      de juegos.
    </p>
  </section>

  <!-- Apps -->
  <section
    class="flex flex-col max-w-screen-lg w-full p-4 space-y-2 text-[#f0f3ff] text-opacity-90"
  >
    <h2
      class="text-xl text-pretty tracking-tight font-bold text-[#f0f3ff] text-opacity-90"
    >
      DISPOSITIVOS MÓVILES
    </h2>
    <div class="flex flex-row justify-start items-start flex-wrap gap-3">
      <div class="flex flex-row justify-start items-center">
        <Android w={"24"} h={"16"} />
        <p>Android</p>
      </div>
      <div class="flex flex-row justify-start items-center">
        <IOS w={"24"} h={"18"} />
        <p>iPhone</p>
      </div>
      <div class="flex flex-row justify-start items-center">
        <WebApp w={"22"} h={"16"} />
        <p>Aplicativo web</p>
      </div>
    </div>
  </section>

  <!-- Advantage and Disadvantages -->
  <section
    class="my-8 flex flex-row flex-wrap sm:flex-nowrap max-w-screen-lg w-full p-4 mx-auto gap-10 text-[#f0f3ff] text-opacity-90"
  >
    <div
      class="flex flex-wrap w-full sm:w-1/2 h-auto py-10 px-5 border rounded-xl border-t-2 border-slate-800 bg-gradient-to-t from-black/60 to-slate-950 focus:outline-none focus:border-[#f0f3ff]"
    >
      <h3
        class="inline-flex mx-auto text-center tracking-tight text-2xl font-semibold mb-2"
      >
        Ventajas
      </h3>
      <div>
        <ul class="list-disc list-inside tracking-tight font-light text-pretty">
          <li>Orci libero aliquam sodales vel.</li>
          <li>Orci libero aliquam sodales sit libero sit elementum vel.</li>
          <li>Orci libero aliquam sodales sit libero sit vel.</li>
          <li>Orci libero aliquam sodales sit sit elementum libero aliquam.</li>
          <li>Orci libero aliquam elementum vel.</li>
          <li>
            Orci libero aliquam sodales sit eleme liquam sodale libero aliquam.
          </li>
        </ul>
      </div>
    </div>
    <div
      class="flex flex-wrap w-full sm:w-1/2 h-auto py-10 px-5 border rounded-xl border-t-2 border-slate-800 bg-gradient-to-t from-black/60 to-slate-950 focus:outline-none focus:border-[#f0f3ff]"
    >
      <h3
        class="inline-flex mx-auto text-center tracking-tight text-2xl font-semibold mb-2"
      >
        Desventajas
      </h3>
      <div>
        <ul class="list-disc list-inside tracking-tight font-light text-pretty">
          <li>Orci libero aliquam sodales vel.</li>
          <li>Orci libero aliquam sodales sit libero sit elementum vel.</li>
          <li>
            Orci libero aliquam sodales sit libero sit vel libero aliquam.
          </li>
          <li>Orci libero aliquam sodales sit sit elementum.</li>
          <li>Orci libero aliquam elementum vel.</li>
          <li>
            Orci libero aliquam sodales sit eleme liquam sodale libero aliquam.
          </li>
        </ul>
      </div>
    </div>
  </section>
</>
