---
import StarRating from "../components/icons/StarRating.astro";
import Android from "../components/icons/Android.astro";
import IOS from "../components/icons/IOS.astro";
import WebApp from "../components/icons/WebApp.astro";
import Check from "../components/icons/Check.astro";
// import Drawer from "../components/reviews/Drawer";
import PromoCode from "../components/buttons/PromoCode";

const { ...info } = Astro.props;
---

<div
  class="flex flex-wrap sm:flex-nowrap gap-4 w-full p-4 shadow-gray-800 shadow-sm rounded-md bg-gradient-to-t from-black/50 to-slate-950"
>
  <!-- Image & Operator Name & Rating-->
  <section class="grow-0 w-1/3 sm:w-44 overflow-hidden">
    <figure>
      <div class="relative overflow-hidden rounded-t-md">
        <a
          href={info.urlregistro}
          target="_blank"
          rel="external noopener nofollow"
        >
          <img
            src={info.img}
            alt={`Logo de ${info.name}, una plataforma de apuestas en línea`}
            width="150"
            height="150"
            class="rounded-t-md w-full transition-transform transform bg-cover bg-center bg-no-repeat hover:opacity-90 bg-blend-luminosity duration-1000 ease-in-out hover:scale-110"
          />
        </a>
        <div
          class="absolute bottom-0 left-0 right-0 bg-gradient-to-t from-black h-7 to-transparent"
        >
        </div>
      </div>
      <figcaption class="uppercase text-center text-sm bg-black z-10 py-1">
        {info.name}
      </figcaption>
    </figure>
    <!-- Rating & Devices -->
    <div class="flex flex-row justify-between mt-4 mb-2">
      <div class="flex gap-1 flex-row">
        <StarRating />
        {info.rating}
      </div>
      <div class="flex flex-row">
        <Android />
        <IOS />
        <WebApp />
      </div>
    </div>
  </section>

  <!-- Promotional Code & Payments Methods  -->
  <section
    class="grow flex flex-col items-center space-y-2 basis-1/2 sm:basis-1/3"
  >
    <p>Código Promocional</p>
    <div class="flex grow-0 items-center justify-center mt-3">
      <PromoCode {...info} client:load />
    </div>

    <div class="flex flex-wrap justify-center gap-1">
      <img src="/payments/PayPal.svg" alt="Pagos" width="44" height="44" />
      <img
        src="/payments/american-express.svg"
        alt="Pagos"
        width="44"
        height="44"
      />
      <img src="/payments/mastercard.svg" alt="Pagos" width="44" height="44" />
      <img src="/payments/shopify.svg" alt="Pagos" width="44" height="44" />
      <img src="/payments/skrill.svg" alt="Pagos" width="44" height="44" />
      <img src="/payments/visa.svg" alt="Pagos" width="44" height="44" />
      <img src="/payments/wepay.svg" alt="Pagos" width="44" height="44" />
      <img src="/payments/PayPal.svg" alt="Pagos" width="44" height="44" />
    </div>
  </section>

  <!-- Info -->
  <section class="w-full sm:basis-1/2 grow">
    <div class="flex flex-col w-full space-y-2">
      <ul class="space-y-1">
        <li class="flex flex-row gap-x-2"><Check />Retiro rápido</li>
        <li class="flex flex-row gap-x-2"><Check />Jugadas gratis</li>
        <li class="flex flex-row gap-x-2">
          <Check />Constructor de apuestas
        </li>
        <li class="flex flex-row gap-x-2"><Check />Buenas cuotas o momios</li>
        <li class="flex flex-row gap-x-2"><Check />Casino</li>
      </ul>
      <p class="text-pretty">
        Bono del <strong>200%</strong> en tu primer depósito, hasta <strong
          >100 USD</strong
        >
      </p>
    </div>
  </section>

  <!-- Buttons -->
  <section
    class="flex flex-col items-center w-full basis-0 sm:basis-1/3 space-y-5 grow"
  >
    <!-- Jugar Ahora -->
    <a
      href={info.urlregistro}
      target="_blank"
      rel="external noopener nofollow"
      class="relative inline-flex w-full h-14 overflow-hidden rounded-full p-[1px] focus:outline-none focus:ring-2 focus:ring-[#f0f3ff] focus:ring-offset-2 focus:ring-offset-[#f0f3ff]"
    >
      <span
        class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#E2CBFF_0%,#393BB2_50%,#E2CBFF_100%)]"
      ></span>
      <span
        class="inline-flex h-full w-full cursor-pointer items-center justify-center rounded-full bg-slate-950 px-3 py-1 font-medium text-white backdrop-blur-3xl"
        aria-label="Registrarse y Apostar"
      >
        Jugar Ahora
      </span>
    </a>
    <!-- Reclamar Bono -->
    <a
      href={info.urlbono}
      target="_blank"
      rel="external noopener nofollow"
      class="relative inline-flex w-full h-14 overflow-hidden rounded-full p-[1px] focus:outline-none focus:ring-2 focus:ring-[#f0f3ff] focus:ring-offset-2 focus:ring-offset-[#f0f3ff]"
    >
      <span
        class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#E2CBFF_0%,#393BB2_50%,#E2CBFF_100%)]"
      ></span>
      <span
        class="inline-flex h-full w-full cursor-pointer items-center justify-center rounded-full bg-gray-900 px-3 py-1 font-medium text-white backdrop-blur-3xl"
        aria-label="Reclamar Bono para Apostar"
      >
        Reclamar Bono
      </span>
    </a>
    <!-- Reseñas -->
    <div
      class="flex flex-col items-center w-full basis-0 sm:basis-1/3 space-y-5 grow"
    >
      <!-- <Drawer {...info} client:load /> -->
      <a href={`/${info.name}`}>
        <span
          class="hover:underline hover:underline-offset-4 inline-flex animate-text-gradient bg-gradient-to-r from-[#b2a8fd] via-[#8678f9] to-[#c7d2fe] bg-[200%_auto] bg-clip-text text-transparent hover:text-[#f0f3ff]"
          aria-label="Ver reseñas o detalles de la casa de apuesta"
          typeof="button"
        >
          Reseñas
        </span>
      </a>
    </div>
  </section>
</div>
