---
import StarRating from "../../../components/icons/StarRating.astro";
import { CountUp } from "../../../components/reviews/CountUp";
import Check from "../../icons/Check.astro";
import Equis from "../../icons/Equis.astro";

const { ...info } = Astro.props;
---

<>
  <!-- Stadistics -->
  <section
    id="detalle"
    class="my-20 flex flex-col w-full mx-auto space-y-12 text-[#f0f3ff] text-opacity-90"
  >
    <h1
      class="inline-flex mx-auto uppercase animate-background-shine bg-[linear-gradient(110deg,#939393,45%,#f0f3ff,65%,#939393)] bg-[length:250%_100%] bg-clip-text text-transparent text-4xl sm:text-6xl font-semibold"
    >
      {info.name}
    </h1>
    <div
      class="flex flex-wrap sm:flex-nowrap w-full justify-center items-center sm:divide-x-2 h-auto space-y-5 sm:space-y-0 py-10 px-2 border gap-1 rounded-xl border-t-2 border-slate-800 bg-gradient-to-t from-black/60 to-slate-950 focus:outline-none focus:border-[#f0f3ff]"
    >
      <div class="flex flex-col grow w-full items-center text-balance space-y-3">
        <CountUp client:visible initial={0} final={1000}/>
        <p class="text-lg sm:text-xl text-center tracking-tight">
          Eventos diarios
        </p>
      </div>
      <div
        class="flex flex-col grow w-1/4 sm:w-full justify-center items-center pl-5 text-balance space-y-3"
      >
        <CountUp client:visible initial={0} final={6} showPlusSign={false} />
        <p class="text-lg sm:text-xl text-center tracking-tight">
          Formatos de cuotas
        </p>
      </div>
      <div
        class="flex flex-col grow w-1/4 sm:w-full justify-center items-center pl-5 text-balance space-y-3"
      >
      <CountUp client:visible initial={0} final={30} />
      <p class="text-lg sm:text-xl text-center tracking-tight">
        Diferentes deportes
      </p>
      </div>
      <div
        class="flex flex-col grow w-1/4 sm:w-full justify-center items-center pl-0 sm:pl-5 text-balance space-y-3"
      >
        <CountUp client:visible initial={0} final={20} />
        <p class="text-lg sm:text-xl text-center tracking-tight">
          Métodos de pago
        </p>
      </div>
    </div>

    <!-- Apps -->
    <div class="flex flex-row justify-center items-center flex-wrap">
      {
        info.apps.map(
          (app: {
            android: string | null | undefined;
            ios: string | null | undefined;
            webapp: string | null | undefined;
            nameandroid: string | null | undefined;
            nameios: string | null | undefined;
            nameweb: string | null | undefined;
          }) => (
            <div class="flex flex-row justify-start items-center gap-2">
              {app.android && (
                <img src={app.android} alt="Android" title="Android" width="16" height="16" />
                <p>{app.nameandroid}</p>
              )}
              {app.ios && (
                <img src={app.ios} alt="iOS" title="iOS" width="16" height="16" />
                <p>{app.nameios}</p>
              )}
              {app.webapp && (
                <img src={app.webapp} alt="WebApp" title="WebApp" width="16" height="16" />
                <p>{app.nameweb}</p>
              )}
            </div>
          )
        )
      }
    </div>

    <!-- Why choose this Operator? -->
    <section
      class="my-14 flex flex-col w-full space-y-3"
    >
      <div class="flex flex-wrap justify-start items-end w-full gap-2">
        <h2
          class="uppercase text-xl text-balance tracking-tight font-bold"
        >
          ¿Por qué elegir {info.name}?
        </h2>
        <div class="flex flex-row justify-center items-end">
          <StarRating w={"22"} h={"26"} />
          <p class="text-end">{info.rating}</p>
        </div>
      </div>
      <p class="text-pretty tracking-tight">
        <strong>{info.name}</strong> se distingue de otras casas de apuestas por 
        su enfoque en las criptomonedas. La plataforma solo acepta depósitos 
        y retiros en criptomonedas, lo que puede ser una ventaja o una 
        desventaja, dependiendo de tus preferencias.
      </p>
      <p class="text-pretty tracking-tight">
        <strong>{info.name}</strong> brilla al ofrecer una variedad de 
        mercados deportivos, y lo hace con una amplitud que satisface 
        tanto a apostadores novatos como a expertos. Ya sea que estés interesado 
        en los mercados estándar como el resultado final o las apuestas más 
        especializadas, <strong>{info.name}</strong> garantiza una amplia gama 
        de opciones para todos los gustos. Esto no solo mejora la diversión y 
        emoción de las apuestas, sino que también permite estrategias más 
        avanzadas y especializadas.
      </p>
      <p class="text-pretty tracking-tight">
        Otra de las características más destacadas de Stake es su interfaz 
        de usuario intuitiva y fácil de navegar. La disposición clara de las 
        secciones y la organización eficiente de la información permiten a los 
        usuarios acceder rápidamente a sus eventos deportivos favoritos y realizar 
        apuestas con facilidad.
      </p>
      <p class="text-pretty tracking-tight">
        Recuerda regístrate utilizando nuestro código promocional <strong>{info.promocode}</strong> para 
        obtener un <strong>Bono de bienvenida</strong> y así descubrir una experiencia única 
        de apuestas en <strong>{info.name}</strong>.
      </p>
    </section>

    <!-- Advantage and Disadvantages -->
    <section
      class="my-14 flex flex-row flex-wrap sm:flex-nowrap w-full mx-auto gap-10"
    >
      <div
        class="flex flex-wrap flex-col w-full sm:w-1/2 h-auto py-10 px-5 border rounded-xl border-t-2 border-slate-800 bg-gradient-to-t from-black/60 to-slate-950 focus:outline-none focus:border-[#f0f3ff]"
      >
        <h3
          class="inline-flex mx-auto text-center text-balance tracking-tight text-2xl font-semibold mb-2"
        >
          Ventajas de {info.name}
        </h3>
        <div>
          <ul
            class="list-inside tracking-tight text-pretty"
          >
            <li class="flex flex-row gap-2"><Check /> Ingresos pasivos</li>
            <li class="flex flex-row gap-2"><Check /> Variedad de deportes y mercados</li>
            <li class="flex flex-row gap-2"><Check /> Diversidad de pagos con criptomonedas</li>
            <li class="flex flex-row gap-2"><Check /> Plataforma es fácil de usar y navegar</li>
            <li class="flex flex-row gap-2"><Check /> Se puede compra criptomonedas con MoonPay</li>
            <li class="flex flex-row gap-2"><Check /> Rápidos depósitos y retiros</li>
          </ul>
        </div>
      </div>
      <div
        class="flex flex-wrap flex-col w-full sm:w-1/2 h-auto py-10 px-5 border rounded-xl border-t-2 border-slate-800 bg-gradient-to-t from-black/60 to-slate-950 focus:outline-none focus:border-[#f0f3ff]"
      >
        <h3
          class="inline-flex mx-auto text-center text-balance tracking-tight text-2xl font-semibold mb-2"
        >
          Desventajas de {info.name}
        </h3>
        <div>
          <ul
            class="list-disc list-inside tracking-tight text-pretty"
          >
          <li class="flex flex-row gap-2"><Equis /> Pocos pagos convencionales</li>
          <li class="flex flex-row gap-2"><Equis /> Bono de bienvenida únicamente con código promocional</li>
          </ul>
        </div>
      </div>
    </section>
  </section>
</>
