---
const { ...info } = Astro.props;
---

<section
  id="deportes"
  class="my-20 flex flex-col w-full mx-auto space-y-12 text-[#f0f3ff] text-opacity-90"
>
  <!-- Servicios -->
  <div class="space-y-10">
    <h2
      class="text-center text-2xl text-balance tracking-tight sm:text-4xl font-bold uppercase"
    >
      SERVICIOS QUE NOS OFRECE {info.name}
    </h2>
    <div
      class="flex flex-row flex-wrap sm:flex-nowrap w-full gap-10 mx-auto text-[#f0f3ff] text-opacity-90"
    >
      <!-- E-Sports -->
      <div
        class="flex flex-wrap w-full sm:w-1/2 h-auto py-10 px-5 border rounded-xl border-t-2 border-slate-800 bg-gradient-to-t from-black/60 to-slate-950 focus:outline-none focus:border-[#f0f3ff]"
      >
        <div class="flex flex-col justify-center items-center mx-auto">
          <img
            src="/sports/esports.svg"
            alt="Icono de Sports"
            width="56"
            height="56"
            loading="lazy"
          />
          <h3
            class="inline-flex mx-auto text-center tracking-tight text-xl sm:text-2xl font-semibold mb-2"
          >
            Esports
          </h3>
          <p class="text-pretty text-center tracking-tight">
            Más de 1,000 eventos en más de 20 disciplinas de esports
          </p>
        </div>
      </div>

      <!-- Sports -->
      <div
        class="flex flex-wrap w-full sm:w-1/2 h-auto py-10 px-5 border rounded-xl border-t-2 border-slate-800 bg-gradient-to-t from-black/60 to-slate-950 focus:outline-none focus:border-[#f0f3ff]"
      >
        <div class="flex flex-col justify-center items-center mx-auto">
          <img
            src="/sports/sports.svg"
            alt="Icono de Sports"
            width="56"
            height="56"
            loading="lazy"
          />
          <h3
            class="inline-flex mx-auto text-center tracking-tight text-xl sm:text-2xl font-semibold mb-2"
          >
            Deportes
          </h3>
          <p class="text-pretty text-center tracking-tight">
            Más de 50 deportes y más de 20,000 eventos diarios
          </p>
        </div>
      </div>

      <!-- Casino -->
      <div
        class="flex flex-wrap w-full sm:w-1/2 h-auto py-10 px-5 border rounded-xl border-t-2 border-slate-800 bg-gradient-to-t from-black/60 to-slate-950 focus:outline-none focus:border-[#f0f3ff]"
      >
        <div class="flex flex-col justify-center items-center mx-auto">
          <img
            src="/sports/casino.svg"
            alt="Icono de Sports"
            width="56"
            height="56"
            loading="lazy"
          />
          <h3
            class="inline-flex mx-auto text-center tracking-tight text-xl sm:text-2xl font-semibold mb-2"
          >
            Casino
          </h3>
          <p class="text-pretty text-center tracking-tight">
            Más de 1.000 juegos de casino disponibles
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Mejores Deportes -->
  <div class="flex flex-col w-full mx-auto space-y-10">
    <h2
      class="text-center text-2xl text-balance tracking-tight uppercase sm:text-4xl font-bold"
    >
      DEPORTES MÁS APOSTADOS EN {info.name}
    </h2>
    <div
      class="flex flex-wrap sm:flex-nowrap w-full justify-center items-center sm:divide-x-2 mx-auto h-auto space-y-5 sm:space-y-0 py-10 px-5 border gap-5 rounded-xl border-t-2 border-slate-800 bg-gradient-to-t from-black/60 to-slate-950 focus:outline-none focus:border-[#f0f3ff]"
    >
      <div
        class="flex flex-col w-1/2 sm:w-full justify-center items-center sm:pl-5 text-balance space-y-3"
      >
        <img
          src="/sports/futbol.svg"
          alt="Icono de Fútbol"
          width="56"
          height="56"
          loading="lazy"
        />
        <h3 class="text-center">Fútbol</h3>
      </div>
      <div
        class="flex flex-col w-1/2 sm:w-full justify-center items-center sm:pl-5 text-balance space-y-3"
      >
        <img
          src="/sports/basketball.svg"
          alt="Icono de Baloncesto"
          width="56"
          height="56"
          loading="lazy"
        />
        <h3 class="text-center">Baloncesto</h3>
      </div>
      <div
        class="flex flex-col grow w-1/3 sm:w-full justify-center items-center sm:pl-5 text-pretty space-y-3"
      >
        <img
          src="/sports/tennis.svg"
          alt="Icono de Tenis"
          width="56"
          height="56"
          loading="lazy"
        />
        <h3 class="text-center">Tenis</h3>
      </div>
      <div
        class="flex flex-col grow w-1/3 sm:w-full justify-center items-center sm:pl-5 text-pretty space-y-3"
      >
        <img
          src="/sports/racinghorses.svg"
          alt="Icono de Carrera de caballos"
          width="56"
          height="56"
          loading="lazy"
        />
        <h3 class="text-center">Carrera de caballos</h3>
      </div>
    </div>
  </div>

  <!-- Cuotas o momios -->
  <div class="space-y-10">
    <div class="w-full flex flex-col justify-start items-start text-start">
      <div class="space-y-3">
        <p class="tracking-tight text-pretty">
          Con más de 50 deportes disponibles, los usuarios pueden encontrar el
          deporte que les gusta y apostar en sus equipos o jugadores favoritos.
        </p>
        <p class="tracking-tight text-pretty">
          Como era de esperar, los deportes más populares en <strong
            >{info.name}</strong
          > son el fútbol, el tenis, el baloncesto y las carreras de caballos. El
          fútbol es el deporte rey en todo el mundo y <strong
            >{info.name}</strong
          > ofrece una amplia cobertura de las principales ligas y competiciones,
          incluyendo la UEFA Champions League, la Liga de Campeones de la UEFA, la
          Liga Premier, La Liga, la Serie A y la Bundesliga.
        </p>
        <p class="tracking-tight text-pretty">
          El tenis es otro deporte muy popular en <strong>{info.name}</strong>.
          La casa de apuestas ofrece apuestas en los principales torneos de
          tenis, incluyendo los Grand Slams, los ATP Masters 1000, las WTA
          Premier Mandatory y las WTA Premier 5.
        </p>
        <p class="tracking-tight text-pretty">
          El baloncesto es otro deporte que goza de gran popularidad en <strong
            >{info.name}</strong
          >. La casa de apuestas ofrece apuestas en la NBA, la Euroliga, la Liga
          ACB, la Liga Nacional de Básquetbol (Argentina) y la Liga Nacional de
          Básquetbol (Brasil).
        </p>
        <p class="tracking-tight text-pretty">
          También ofrece una oferta completa para los amantes de las carreras de
          caballos. La casa de apuestas ofrece una amplia cobertura de las
          principales carreras, una variedad de mercados de apuestas y
          transmisiones en vivo de algunas carreras.
        </p>
        <p class="tracking-tight text-pretty">
          La plataforma se posiciona como el destino ideal para aquellos que
          buscan diversidad y emoción en sus apuestas al ofrecer cuotas
          competitivas, brindando la oportunidad de maximizar sus ganancias. La
          diversidad de deportes y la calidad de las cuotas la consolidan como
          una opción destacada en el competitivo mundo de las apuestas en línea.
        </p>
      </div>
    </div>

    <div class="flex flex-col w-full mx-auto">
      <h3 class="font-semibold text-balance tracking-tight uppercase text-lg">
        CUOTAS O MOMIOS EN {info.name}
      </h3>
      <div class="space-y-2">
        <p class="text-pretty tracking-tight">
          En general, las cuotas de <strong>{info.name}</strong> son similares a
          las de otras casas de apuestas líderes. Sin embargo, hay algunos deportes
          en los que las cuotas de <strong>{info.name}</strong> son más competitivas
          que en otras casas de apuestas.
        </p>
        <p class="text-pretty tracking-tight">
          Actualmente, <strong>{info.name}</strong> ofrece 6 formatos de cuotas:
        </p>
        <p class="tracking-tight">
          <li>Decimal</li>
          <li>Americano</li>
          <li>Malayo</li>
          <li>Hong Kong</li>
          <li>Indonesio</li>
          <li>Francción</li>
        </p>
      </div>
    </div>
  </div>
</section>
