---
const { ...info } = Astro.props;
---

<section
  id="deportes"
  class="my-20 flex flex-col w-full mx-auto space-y-12 text-[#f0f3ff] text-opacity-90"
>
  <!-- Servicios -->
  <div class="space-y-10">
    <h2
      class="text-center text-2xl text-balance tracking-tight sm:text-4xl font-bold uppercase"
    >
      SERVICIOS QUE NOS OFRECE {info.name}
    </h2>
    <div
      class="flex flex-row flex-wrap sm:flex-nowrap w-full gap-10 mx-auto text-[#f0f3ff] text-opacity-90"
    >
      <!-- E-Sports -->
      <div
        class="flex flex-wrap w-full sm:w-1/2 h-auto py-10 px-5 border rounded-xl border-t-2 border-slate-800 bg-gradient-to-t from-black/60 to-slate-950 focus:outline-none focus:border-[#f0f3ff]"
      >
        <div class="flex flex-col justify-center items-center mx-auto">
          <img
            src="/sports/esports.svg"
            alt="Icono de Sports"
            width="56"
            height="56"
            loading="lazy"
          />
          <h3
            class="inline-flex mx-auto text-center tracking-tight text-xl sm:text-2xl font-semibold mb-2"
          >
            Esports
          </h3>
          <p class="text-pretty text-center tracking-tight">
            1.000 eventos en más de 20 disciplinas de esports
          </p>
        </div>
      </div>

      <!-- Sports -->
      <div
        class="flex flex-wrap w-full sm:w-1/2 h-auto py-10 px-5 border rounded-xl border-t-2 border-slate-800 bg-gradient-to-t from-black/60 to-slate-950 focus:outline-none focus:border-[#f0f3ff]"
      >
        <div class="flex flex-col justify-center items-center mx-auto">
          <img
            src="/sports/sports.svg"
            alt="Icono de Sports"
            width="56"
            height="56"
            loading="lazy"
          />
          <h3
            class="inline-flex mx-auto text-center tracking-tight text-xl sm:text-2xl font-semibold mb-2"
          >
            Deportes
          </h3>
          <p class="text-pretty text-center tracking-tight">
            Más de 30 deportes y más de 1.000 eventos diarios
          </p>
        </div>
      </div>

      <!-- Casino -->
      <div
        class="flex flex-wrap w-full sm:w-1/2 h-auto py-10 px-5 border rounded-xl border-t-2 border-slate-800 bg-gradient-to-t from-black/60 to-slate-950 focus:outline-none focus:border-[#f0f3ff]"
      >
        <div class="flex flex-col justify-center items-center mx-auto">
          <img
            src="/sports/casino.svg"
            alt="Icono de Sports"
            width="56"
            height="56"
            loading="lazy"
          />
          <h3
            class="inline-flex mx-auto text-center tracking-tight text-xl sm:text-2xl font-semibold mb-2"
          >
            Casino
          </h3>
          <p class="text-pretty text-center tracking-tight">
            Más de 2.500 juegos de casino disponibles
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Mejores Deportes -->
  <div class="flex flex-col w-full mx-auto space-y-10">
    <h2
      class="text-center text-2xl text-balance tracking-tight uppercase sm:text-4xl font-bold"
    >
      DEPORTES MÁS APOSTADOS EN {info.name}
    </h2>
    <div
      class="flex flex-wrap sm:flex-nowrap w-full justify-center items-center sm:divide-x-2 mx-auto h-auto space-y-5 sm:space-y-0 py-10 px-5 border gap-5 rounded-xl border-t-2 border-slate-800 bg-gradient-to-t from-black/60 to-slate-950 focus:outline-none focus:border-[#f0f3ff]"
    >
      <div
        class="flex flex-col w-1/2 sm:w-full justify-center items-center sm:pl-5 text-balance space-y-3"
      >
        <img
          src="/sports/futbol.svg"
          alt="Icono de Fútbol"
          width="56"
          height="56"
          loading="lazy"
        />
        <h3 class="text-center">Fútbol</h3>
      </div>
      <div
        class="flex flex-col w-1/2 sm:w-full justify-center items-center sm:pl-5 text-balance space-y-3"
      >
        <img
          src="/sports/basketball.svg"
          alt="Icono de Baloncesto"
          width="56"
          height="56"
          loading="lazy"
        />
        <h3 class="text-center">Baloncesto</h3>
      </div>
      <div
        class="flex flex-col grow w-1/3 sm:w-full justify-center items-center sm:pl-5 text-pretty space-y-3"
      >
        <img
          src="/sports/tennis.svg"
          alt="Icono de Tenis"
          width="56"
          height="56"
          loading="lazy"
        />
        <h3 class="text-center">Tenis</h3>
      </div>
      <div
        class="flex flex-col grow w-1/3 sm:w-full justify-center items-center sm:pl-5 text-pretty space-y-3"
      >
        <img
          src="/sports/boxing.svg"
          alt="Icono de Boxeo"
          width="56"
          height="56"
          loading="lazy"
        />
        <h3 class="text-center">Boxeo</h3>
      </div>
    </div>
  </div>

  <!-- Cuotas o momios -->
  <div class="space-y-10">
    <div class="flex flex-col w-full mx-auto">
      <h3 class="font-semibold text-balance tracking-tight uppercase text-lg">
        CUOTAS O MOMIOS EN {info.name}
      </h3>
      <div class="space-y-2">
        <p class="text-pretty tracking-tight">
          La competitividad de las cuotas en <strong>{info.name}</strong> es un punto
          fuerte. La plataforma se esfuerza por ofrecer momios atractivos para atraer
          a los apostadores. Además, cuenta con una sección de estadísticas y análisis
          que ayuda a los usuarios a tomar decisiones informadas al evaluar las probabilidades.
        </p>
        <p class="text-pretty tracking-tight">
          Actualmente, <strong>{info.name}</strong> ofrece 3 formatos de cuotas:
        </p>
        <ul class="list-disc list-inside tracking-tight">
          <li>Fraccional</li>
          <li>Decimal</li>
          <li>Americano</li>
        </ul>
      </div>
    </div>

    <div class="w-full flex flex-col justify-start items-start text-start">
      <div class="space-y-3">
        <p class="tracking-tight text-pretty">
          La oferta de servicios de <strong>{info.name}</strong> no se limita simplemente
          a ser una plataforma de apuestas deportivas; más bien, se presenta como
          un universo completo de entretenimiento en línea. La amplitud y calidad
          de los servicios que brinda la plataforma elevan la experiencia del usuario
          a un nivel que va más allá de las simples apuestas, creando un ecosistema
          donde la emoción y la diversión convergen.
        </p>
        <p class="tracking-tight text-pretty">
          <strong>{info.name}</strong> va más allá del ámbito deportivo al incorporar
          un casino en línea vibrante y emocionante. Este segmento de la plataforma
          alberga una amplia selección de juegos que van desde las clásicas tragamonedas
          hasta mesas de juego en vivo, donde los usuarios pueden disfrutar de la
          autenticidad de un casino físico desde la comodidad de sus hogares. La
          diversidad de opciones de juego en el casino añade una capa adicional de
          entretenimiento y oportunidades de ganancias para los usuarios.
        </p>
        <p class="tracking-tight text-pretty">
          Para aquellos que buscan una experiencia aún más inmersiva, <strong
            >{info.name}</strong
          >
          presenta juegos en vivo, donde crupieres profesionales conducen mesas de
          ruleta, blackjack y otros juegos populares en tiempo real. Esta opción
          de juego en vivo añade un toque de autenticidad y emoción, simulando la
          atmósfera de un casino físico desde la comodidad del hogar.
        </p>
      </div>
    </div>
  </div>
</section>
