---
import PromoCode from "../../reviews/PromoCodeReview";

const { ...info } = Astro.props;
---

<>
  <!-- ¡Aumenta tus ganancias! -->
  <section
    id="promociones"
    class="my-20 flex flex-col w-full mx-auto space-y-5 text-[#f0f3ff] text-opacity-90"
  >
    <h2
      class="text-center text-2xl text-pretty tracking-tight uppercase sm:text-4xl font-bold text-[#f0f3ff] text-opacity-90 mb-3"
    >
      ¿CÓMO AUMENTAR TUS GANANCIAS EN {info.name}?
    </h2>
    <article class="flex flex-row flex-wrap sm:flex-nowrap w-full gap-10">
      <div
        class="relative overflow-hidden w-full sm:w-1/2 h-auto rounded-xl border border-slate-800 p-[1px] backdrop-blur-3xl"
      >
        <span
          class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#E2CBFF_0%,#393BB2_50%,#E2CBFF_100%)]"
        ></span>
        <div
          class="inline-flex h-full w-full items-center justify-center rounded-xl bg-slate-950 py-5 px-5 text-sm font-medium backdrop-blur-3xl"
        >
          <div
            class="flex flex-col justify-center items-center mx-auto p-4 space-y-3"
          >
            <h3
              class="inline-flex underline text-balance underline-offset-8 text-center tracking-tight text-xl font-semibold"
            >
              Código Promocional
            </h3>
            <p class="text-pretty text-center p-2 tracking-tight">
              Ingresa este código Promocional para obtener un <strong
                >Bono de bienvenida</strong
              > adicional. No dejes pasar la oportunidad de mejorar
              tu experiencia de juego y aumentar tus fondos.
            </p>
            <PromoCode {...info} client:idle />
          </div>
        </div>
      </div>
      <div
        class="relative overflow-hidden w-full sm:w-1/2 h-auto rounded-xl border border-slate-800 p-[1px] backdrop-blur-3xl"
      >
        <span
          class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#E2CBFF_0%,#393BB2_50%,#E2CBFF_100%)]"
        ></span>
        <div
          class="inline-flex h-full w-full items-center justify-center rounded-xl bg-slate-950 py-10 px-5 text-sm font-medium backdrop-blur-3xl"
        >
          <div
            class="flex flex-col justify-center items-center mx-auto p-4 space-y-3"
          >
            <h3
              class="inline-flex text-balance underline underline-offset-8 text-center tracking-tight text-xl font-semibold"
            >
              Bono de Bienvenida
            </h3>
            <p class="text-pretty text-center tracking-tight">
              Regístrate y <span class="lowercase">{info.bonotxt}</span>
            </p>
          </div>
        </div>
      </div>
    </article>

    <p class=" text-balance tracking-tight text-lg">
     <strong>{info.name}</strong> ofrece gran variedad de promociones, aquí te mencionamos alguna de ellas:
    </p>

    <!-- JUEGOS DE BONO -->
    <articdee class="flex flex-col w-full mx-auto">
      <h3 class="font-semibold text-balance tracking-tight text-lg">
        UEFA Champions League - ¡Dos goles en la 1era parte y ganas!
      </h3>
      <div class="space-y-2">
        <p class="text-pretty tracking-tight">
          Apuesta eligiendo uno de los dos equipos, si ese equipo marca 2 o más goles en la primera mitad, recibirás un pago como ganador, incluso si el equipo no gana el partido, con un límite de hasta $100 USD.
        </p>
      </div>
    </article>

    <!-- PROMOCIONES -->
    <article>
      <h3 class="font-semibold text-balance tracking-tight text-lg">
        NGA - Lidera por 9pts tras el tercer cuarto, ¡Tu ganas!
      </h3>
      <div class="space-y-2">
        <p class="text-pretty tracking-tight">
          Puedes ganar hasta $100 USD si tu equipo lidera por 9 puntos al finalizar el tercer cuarto.
        </p>
      </div>
    </article>

    <!-- BONOS Y OFERTAS -->
    <article>
      <h3 class="font-semibold text-balance tracking-tight text-lg">
        Premier League - Seguro de Empate
      </h3>
      <div class="space-y-2">
        <p class="text-pretty tracking-tight">
          Apuesta por un equipo en la Premier League en el mercado de 1x2. Si el partido termina en empate sin goles, recibirás un reembolso de hasta $100 USD.
        </p>
      </div>
    </arle>

    <!-- TIENDA DE CÓDIGOS PROMOCIONALES-->
    <article>
      <h3 class="font-semibold text-balance tracking-tight text-lg">
        Fútbol Nacional - Ganancias Dobles
      </h3>
      <div class="space-y-2">
        <p class="text-pretty tracking-tight">
          Apuesta por un equipo en el mercado 1x2. Si tu selección gana y el jugador elegido alcanza su objetivo, ganarás el doble, hasta $100 USD.
        </p>
      </div>
    </article>

    <p class="text-pretty tracking-tight">
      Clic <a href={info.urlpromo}
      target="_blank"
      rel="external noopener nofollow"
      class="underline hover:text-gray-400"
      aria-label="Ir a la pagina de promociones">aquí</a> 
      para saber más de las promociones que <strong>{info.name}</strong> 
      ofrece:
    </p>

    <p class="tracking-tight text-pretty underline">
      Las promociones de <strong>{info.name}</strong> están sujetas a cambios. Es
      importante consultar los términos y condiciones de cada promoción antes de
      participar.
    </p>
  </section>
</>
