---
import "@fontsource-variable/onest";
import GTMHeader from "../components/GTM/GTMHeader.astro";
import GTMBody from "../components/GTM/GTMBody.astro";
import { ViewTransitions } from "astro:transitions";

const meta = {
  img: "https://micasadeapuesta.com/favicon.svg",
  url: "https://micasadeapuesta.com/",
  sitename: "Mi Casa De Apuesta",
  creator: "Lunox | Moises Obando",
};

const { img, url, sitename, creator } = meta;

const { title, description } = Astro.props;
---

<html lang="es">
  <head>
    <GTMHeader />
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="canonical" href={url} />
    <link rel="apple-touch-icon" href="/favicon.svg" />

    <!-- Open Graph -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={img} />
    <meta property="og:type" content="Website" />
    <meta property="og:url" content={url} />
    <meta property="og:site_name" content={sitename} />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content={url} />
    <meta property="twitter:domain" content={url} />
    <meta property="twitter:url" content={url} />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={img} />
    <meta name="twitter:creator" content={creator} />
    <ViewTransitions />
  </head>
  <body class="bg-slate-950 text-[#f0f3ff] text-opacity-90">
    <GTMBody />
    <div
      class="absolute -z-10 bottom-0 left-0 right-0 top-0 bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:14px_24px] [mask-image:radial-gradient(ellipse_60%_50%_at_50%_0%,#000_70%,transparent_100%)]"
    >
    </div>
    <slot />
    <style is:global>
      :root {
        color-scheme: light dark;
      }

      html {
        font-family: "Onest Variable", sans-serif, system-ui;
        scroll-behavior: smooth;
      }

      body {
        color: rgba(17, 17, 17, 0.9);
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        max-width: 1024px;
        margin: auto;
        overscroll-behavior: auto;
      }

      @media (prefers-reduced-motion: reduce) {
        html {
          scroll-behavior: auto;
        }
      }

      @media (prefers-color-scheme: dark) {
        body {
          color: #f0f3ff;
        }
      }
    </style>
  </body>
</html>
